/* header button left and right */
.ui-header.headerbar {
  height: 61px;
  margin-top: 3px;
  /*
    .ui-btn-left {
        left:0;
        top:0; 
        .ui-btn {
            margin:0;
            height:@button_height;
            border-radius:0 @button_height/2 @button_height/2 0;
            width:@buton_width + @button_height/4;
            padding-right:@button_height/4;
            float:right;
            .ui-btn-inner {
              padding-left:0;
              padding-right:0;
            }
        }
        &.two-buttons {
            .ui-btn.first-button {
                width:(@buton_width + @button_height/4)/2;
                padding-right:@button_height/4 - 2;// minus border width
            }
            .ui-btn.second-button {
                width:@buton_width/2;
                padding-right:0px;
                border-radius:0;
            }
        }
    }
  
    .ui-btn-right { 
        right:0;
        top:0;
        .ui-btn {
            margin:0;
            height:@button_height;
            border-radius:@button_height/2 0 0 @button_height/2;
            width:@buton_width + @button_height/4;
            padding-left:@button_height/4;
            float:left;
            .ui-btn-inner {
              padding-left:0;
              padding-right:0;
            }
        }
        &.two-buttons {
            .ui-btn.first-button {
                width:(@buton_width + @button_height/4)/2;
                padding-left:@button_height/4 - 2;// minus border width
            }
            .ui-btn.second-button {
                width:@buton_width/2;
                padding-left:0px;
                border-radius:0;
            }
        }
    }
    */

}
.ui-header.headerbar .ui-title {
  margin: 10px 118px 0;
}
.ui-header.headerbar .ui-title .robotName {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ui-header.headerbar .ui-title .screenTitle {
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ui-header.headerbar .ui-btn-left,
.ui-header.headerbar .ui-btn-right {
  top: 0;
}
.ui-header.headerbar .ui-btn-left .ui-btn,
.ui-header.headerbar .ui-btn-right .ui-btn {
  margin: 0;
  height: 40px;
  width: 88px;
  float: left;
}
.ui-header.headerbar .ui-btn-left .ui-btn .ui-btn-inner,
.ui-header.headerbar .ui-btn-right .ui-btn .ui-btn-inner {
  display: table-cell;
  height: 40px;
  width: 88px;
  white-space: normal;
  vertical-align: middle;
  text-align: center;
}
.ui-header.headerbar .ui-btn-left {
  left: 0;
}
.ui-header.headerbar .ui-btn-left .ui-btn {
  border-radius: 0 20px 20px 0;
  float: right;
}
.ui-header.headerbar .ui-btn-left .ui-btn .ui-btn-inner {
  padding: 0 10px 0 0;
}
.ui-header.headerbar .ui-btn-left.two-buttons .ui-btn.first-button {
  width: 44px;
}
.ui-header.headerbar .ui-btn-left.two-buttons .ui-btn.second-button {
  width: 41px;
  padding-right: 0px;
  border-radius: 0;
  margin-right: 1px;
}
.ui-header.headerbar .ui-btn-left.two-buttons .ui-btn.second-button .ui-btn-inner {
  padding: 0;
}
.ui-header.headerbar .ui-btn-right {
  right: 0;
}
.ui-header.headerbar .ui-btn-right .ui-btn {
  border-radius: 20px 0 0 20px;
}
.ui-header.headerbar .ui-btn-right .ui-btn .ui-btn-inner {
  padding: 0 0 0 10px;
}
.ui-header.headerbar .ui-btn-right.two-buttons .ui-btn.first-button {
  width: 44px;
}
.ui-header.headerbar .ui-btn-right.two-buttons .ui-btn.second-button {
  width: 41px;
  padding-left: 0px;
  border-radius: 0;
  margin-left: 1px;
}
.ui-header.headerbar .ui-btn-right.two-buttons .ui-btn.second-button .ui-btn-inner {
  padding: 0;
}
