@font-face {
  font-family: TazText;
  src: url("../../fonts/TazTextWt05-RegularG083.otf") format("opentype");
}
@font-face {
  font-family: TazText;
  font-weight: bold;
  src: url("../../fonts/TazTextWt07-Bold.otf") format("opentype");
}
*,
body .ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
  font-family: "TazText";
}
/**
 *   Create an image definition with (optional) additional classes that are attached to the
 *   img-imgFile name. i.e. if the imgFile name is "myPicture" and the additional classes are ".bright" the resulting
 *   CSS will contain ".img-myPicture .bright {...}"
 */
/**
 *   Create a simple image with the given dimensions.
 */
/**
 *  Creates the sprite position offset styles for a specific image
 *  using the states name supplied.
 */
/**
 *   Create a sprite for a certain row with the defined states.
 *   By default the names for the states are "up", "down", "disabled".
 *   The name of the states can be set. Currently only three states are available.
 *   @spriteName: The name for this sprite 
 *   @width: width of one sprite
 *   @height: height of one sprite
 *   @stateAmount: The amount of states within this image
 *   @state1: The name of the first state (default: up)
 *   @state2: The name of the second state (default: down)
 *   @state3: The name of the thrid state (default:disabled)
 */
/*@listview_lastCell_gradient_mid: #353535:
@listview_lastCell_gradient_end: #353535:*/
.ui-notificationbar {
  display: none;
  height: 57px;
  left: 0;
  position: absolute;
  right: 0;
  top: 45px;
  font-size: 20px;
  z-index: 3500;
}
.ui-notificationbar .contentWrapper {
  height: 42px;
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #707070 3px, #f2f2f2 15%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(3px, #707070), color-stop(15%, #f2f2f2));
  background: -webkit-linear-gradient(top, #000000 0%, #707070 3px, #f2f2f2 15%);
  background: -o-linear-gradient(top, #000000 0%, #707070 3px, #f2f2f2 15%);
  background: -ms-linear-gradient(top, #000000 0%, #707070 3px, #f2f2f2 15%);
  background: linear-gradient(to bottom, #000000 0%, #707070 3px, #f2f2f2 15%);
  filter: progid:DXImageTransform.Microsoft.gradient('#000000', '#f2f2f2', GradientType=0);
  padding-bottom: 5px;
  padding-top: 10px;
  box-shadow: inset 0px -35px 20px -40px #000000;
  padding-left: 8px;
  padding-right: 8px;
}
.ui-notificationbar_text {
  color: #000000;
  float: left;
  text-shadow: none;
  line-height: 40px;
}
