@cleaning_first_line_height:67px;
@cleaning_last_line_height:67px;
@cleaning_control_button_size:82px;
@cleaning_control_button_space:37px;
@cleaning_control_button_icon_size:246px 246px;

@cleaning_box_shadow_distance:3px;
@cleaning_box_shadow_size:7px;

@cleaning_status_line_space:7px;
@cleaning_status_icon_image_size:2412px 469px;
@cleaning_status_icon_width:67px;
@cleaning_status_icon_height:67px;
@cleaning_status_border_radius:15px;
@cleaning_status_text_padding:10px 15px 10px 22px;
@cleaning_status_text_padding_top:10px;
@cleaning_status_text_padding_bottom:10px;
@cleaning_status_text_min_height:30px;
@cleaning_status_bubble_icon_size:16px 16px;
@cleaning_status_bubble_icon_width:16px;
@cleaning_status_bubble_icon_height:16px;
@cleaning_status_bubble_icon_top:22px;

@cleaning_navbar_height:45px;

@cleaning_startContainer_width:412px;
@cleaning_startContainer_height:411px;
@cleaning_remote_button_width:75px;
@cleaning_remote_button_height:75px;
@cleaning_remote_button_diag_top:36px;
@cleaning_remote_button_diag_left:42px;
@cleaning_start_button_width:292px;
@cleaning_start_button_height:292px;
@cleaning_spinner_scale:1.0;

@spot_grid_icon_width:396px;
@spot_grid_icon_height:396px;
@spot_grid_space:3px;
@spot_selection_border:2px;
@spot_grid_cell_width:78px;
@spot_grid_cell_height:78px;
@spot_border_correction:-1px;
@spot_border_correction_top:-2px;
@spot_container_width:@spot_grid_icon_width - @spot_grid_space*2;
@spot_container_height:@spot_grid_icon_height - @spot_grid_space*2;
@spot_robot_icon_height:84px;
@spot_robot_icon_width:78px;
@spot_grid_point_size:7px;
@spot_resize_icon_width:40px;
@spot_resize_icon_height:40px;
