@listview_border_radius:15px;
@listview_icon_width:30px;
@listview_icon_height:45px;
@listview_space_top:15px;
@listview_space_bottom:22px;
@listview_item_line_height:45px;
@listview_description_line_height:30px;
@listview_weblink_icon_width:36px;
@listview_weblink_icon_height:36px;

@radiogroup_icon_width:60px;
@radiogroup_icon_height:60px;
@radiogroup_icon_size:60px 300px;
@radiogroup_check_icon_space_right:10px;
@radiogroup_check_icon_width:33px;
@radiogroup_check_icon_height:33px;
@radiogroup_check_icon_size:66px 33px;
@radiogroup_item_line_height:60px;
@radiogroup_item_space_left:@radiogroup_icon_width + @content_space;
@radiogroup_item_space_right:@radiogroup_check_icon_width + @radiogroup_check_icon_space_right;