<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neatorobotics.android.slide.phonegap.ui"
    android:versionCode="102"
    android:versionName="0.6.0.09" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

     <!-- GCM changes begin  -->
    <!-- Permissions should be on the base package. If we don't use the base package
    then checkManifest API will fail.  -->
    <permission android:name="com.neatorobotics.android.slide.phonegap.ui.permission.C2D_MESSAGE" 
        		android:protectionLevel="signature" />
    <uses-permission android:name="com.neatorobotics.android.slide.phonegap.ui.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
   
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     <!-- GCM changes end  -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NeatoSmartappTestActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
	    	android:name=".AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >            
        </activity>
        <service
            android:name="com.neatorobotics.android.slide.framework.service.NeatoSmartAppService"
            android:label="Neato SmartApp Service" >
        </service>
        <!-- GCM changes begin  -->
        <receiver android:name="com.neatorobotics.android.slide.framework.gcm.PushNotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter >
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.neatorobotics.android.slide.phonegap.ui" />
            </intent-filter>
        </receiver>
        <service android:name="com.neatorobotics.android.slide.framework.gcm.PushNotificationIntentService" />
        <service android:name="com.neatorobotics.android.slide.framework.gcm.PushNotificationTaskIntentService" />
        <!-- GCM changes end  -->
    </application>

</manifest>