div.ui-slider.ui-slider-switch{

  border-color: #7A7A7A;
  background: #808080;
  float:right;
  top: -6px;

  &.ui-btn-corner-all{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:60px;  
  }
  
  &.ui-focus, ui-btn:focus
  {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }


  .ui-slider-inneroffset{
    width: 33px;
  }

  span.ui-slider-label{

    text-shadow:none;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    &.ui-slider-label-a{
      
      color: #5F7F00;
      
      background: rgb(90,112,29);
      background: -moz-linear-gradient(top, rgba(90,112,29,1) 0%, rgba(148,190,28,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,112,29,1)), color-stop(100%,rgba(148,190,28,1)));
      background: -webkit-linear-gradient(top, rgba(90,112,29,1) 0%,rgba(148,190,28,1) 100%);
      background: linear-gradient(to bottom, rgba(90,112,29,1) 0%,rgba(148,190,28,1) 100%);
    }
    
    &.ui-slider-label-b{
    
      color: #535353;
      
      background: rgb(81,81,81);
      background: -moz-linear-gradient(top,  rgba(81,81,81,1) 0%, rgba(128,128,128,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,81,81,1)), color-stop(100%,rgba(128,128,128,1)));
      background: -webkit-linear-gradient(top,  rgba(81,81,81,1) 0%,rgba(128,128,128,1) 100%);
      background: linear-gradient(to bottom,  rgba(81,81,81,1) 0%,rgba(128,128,128,1) 100%);
    }
  } 
  
  a.ui-slider-handle {
  
    width: 25px;
    height: 31px;
  
    margin-top: 1px;
    margin-left: -15px;
    
    background: rgb(127,127,127);
    background: -moz-linear-gradient(top,  rgba(127,127,127,1) 0%, rgba(158,158,158,1) 8%, rgba(214,214,214,1) 20%, rgba(172,172,172,1) 80%, rgba(64,64,64,0.3) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,127,127,1)), color-stop(8%,rgba(158,158,158,1)), color-stop(20%,rgba(214,214,214,1)), color-stop(80%,rgba(172,172,172,1)), color-stop(100%,rgba(64,64,64,0.3)));
    background: -webkit-linear-gradient(top,  rgba(127,127,127,1) 0%,rgba(158,158,158,1) 8%,rgba(214,214,214,1) 20%,rgba(172,172,172,1) 80%,rgba(64,64,64,0.3) 100%);
    background: linear-gradient(to bottom,  rgba(127,127,127,1) 0%,rgba(158,158,158,1) 8%,rgba(214,214,214,1) 20%,rgba(172,172,172,1) 80%,rgba(64,64,64,0.3) 100%);
   
    border: 0;
    
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
   
    .ui-btn-inner{

      border-radius: 5px;
      width: 23px;
      height: 28px;
      display: block;
      left: 1px;
      top: 1px;

      background: rgb(253,253,253);
      background: -moz-linear-gradient(top,  rgba(253,253,253,1) 0%, rgba(192,192,192,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(192,192,192,1)));
      background: -webkit-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(192,192,192,1) 100%);
      background: linear-gradient(to bottom,  rgba(253,253,253,1) 0%,rgba(192,192,192,1) 100%);    
    }

  }
  
}