@dialog_icon_size:32px 96px;
@dialog_icon_width:32px;
@dialog_icon_height:32px;
@dialog_border:2px;

@menu_icon_height:80px;
@menu_icon_offset:15px;
@menu_icon_schedule_offset:-86px;
@menu_icon_settings_offset:-156px;

@mailAnimationHeight: 170px;
@mailAnimationWidth: 255px;

@menuPopup_container_width:500px;
@menuPopup_container_height:700px;
@menuPopup_height:600px;