@inputfield_border:2px;
@inputfield_height:39px;

@sliderswitch_height:42px;
@sliderswitch_width:93px;
@sliderswitch_slider_height:36px;
@sliderswitch_slider_width:30px;
@sliderswitch_slider_radius:2px;
@sliderswitch_slider_icon_size:72px 36px;
@sliderswitch_slider_icon_width:36px;
@sliderswitch_slider_icon_height:36px;

@form_line_height:60px;

@checkbox_icon_size:93px 31px;
@checkbox_icon_width:31px;
@checkbox_icon_height:31px;
@checkbox_icon_space_top:-15px;
@checkbox_icon_space_left:12px;

@logout_button_width:157px;