@inputfield_border:3px;
@inputfield_height:52px;

@sliderswitch_height:58px;
@sliderswitch_width:124px;
@sliderswitch_slider_height:54px;
@sliderswitch_slider_width:40px;
@sliderswitch_slider_radius:2px;
@sliderswitch_slider_icon_size:96px 48px;
@sliderswitch_slider_icon_width:48px;
@sliderswitch_slider_icon_height:48px;

@form_line_height:40px;




@logout_button_width:105px;