@scheduler_day_row_height:40px;
@scheduler_time_column_width:67px;
@scheduler_day_blocked_icon_size:10px;
@scheduler_day_min_column_width:78px;
@scheduler_event_height:30px;
@scheduler_event_zoom:10px;
@scheduler_event_space:2px;

@scheduler_grid_size:4px 72px;
@scheduler_grid_line_height:3px;
@scheduler_noon_line_size:4px 3px;
@scheduler_noon_line_height:3px;
@scheduler_hour_height:72px;

@dayTopPadding:10px;
@taskIconWidth:79px;
@taskIconHeight:84px;
@taskImageWidth:159px;
@taskImageHeight:336px;