/**
 *   Create an image definition with (optional) additional classes that are attached to the
 *   img-imgFile name. i.e. if the imgFile name is "myPicture" and the additional classes are ".bright" the resulting
 *   CSS will contain ".img-myPicture .bright {...}"
 */
/**
 *   Create a simple image with the given dimensions.
 */
/**
 *  Creates the sprite position offset styles for a specific image
 *  using the states name supplied.
 */
/**
 *   Create a sprite for a certain row with the defined states.
 *   By default the names for the states are "up", "down", "disabled".
 *   The name of the states can be set. Currently only three states are available.
 *   @spriteName: The name for this sprite 
 *   @width: width of one sprite
 *   @height: height of one sprite
 *   @stateAmount: The amount of states within this image
 *   @state1: The name of the first state (default: up)
 *   @state2: The name of the second state (default: down)
 *   @state3: The name of the thrid state (default:disabled)
 */
.ui-icon-emailIcon {
  background-image: url("../../img/icons/emailIcon_158x158.png");
  background-size: 158px 158px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .ui-icon-emailIcon {
    background-image: url("../../img/icons/emailIcon_316x316.png");
  }
}
.img-fullscreen-splash {
  background-image: url("../../img/splash_1024x768.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media only screen and (orientation: portrait) and (max-device-width: 2047px) {
  .img-fullscreen-splash {
    background-image: url("../../img/splash_768x1024.png");
  }
}
@media only screen and (device-aspect-ratio: 16/9) {
  .img-fullscreen-splash {
    background-image: url("../../img/splash_1280x720.png");
  }
}
@media only screen and (device-aspect-ratio: 16/9) and (orientation: portrait) {
  .img-fullscreen-splash {
    background-image: url("../../img/splash_720x1280.png");
  }
}
/* iPhone 5*/
@media only screen and (device-aspect-ratio: 40/71) {
  .img-fullscreen-splash {
    background-image: url("../../img/splash_1280x720.png");
  }
}
@media only screen and (device-aspect-ratio: 40/71) and (orientation: portrait) {
  .img-fullscreen-splash {
    background-image: url("../../img/splash_720x1280.png");
  }
}
@media only screen and (device-aspect-ratio: 16/10) {
  .img-fullscreen-splash {
    background-image: url("../../img/splash_1920x1200.png");
  }
}
@media only screen and (device-aspect-ratio: 16/10) and (orientation: portrait) {
  .img-fullscreen-splash {
    background-image: url("../../img/splash_1200x1920.png");
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .img-fullscreen-splash {
    background-image: url("../../img/splash_2048x1536.png");
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .img-fullscreen-splash {
    background-image: url("../../img/splash_1536x2048.png");
  }
}
.img-startstopbtn {
  background-image: url("../../img/icons/startstopbtn_390x390.png");
  width: 390px;
  height: 390px;
  background-repeat: no-repeat;
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 144dpi) {
    @dblwidth : @width * 2;
        @dblheight : @height * 2;
        
        (~".img-@{imgFile}"){
        background-image: url("@{iconRoot}@{imgFile}_@{dblwidth}x@{dblheight}.@{fileExtension}");
        background-size: cover;
    }
    }*/
.startbtn_inactive-up {
  background-position: -0px -0px;
}
.startbtn_inactive-down {
  background-position: -390px -0px;
}
.startbtn_inactive-disabled {
  background-position: -780px -0px;
}
.startbtn_paused-up {
  background-position: -0px -390px;
}
.startbtn_paused-down {
  background-position: -390px -390px;
}
.startbtn_paused-disabled {
  background-position: -780px -390px;
}
.startbtn_active-up {
  background-position: -0px -780px;
}
.startbtn_active-down {
  background-position: -390px -780px;
}
.startbtn_active-disabled {
  background-position: -780px -780px;
}
.img-remote_horizontal {
  background-image: url("../../img/icons/remote_horizontal_88x150.png");
  width: 88px;
  height: 150px;
  background-repeat: no-repeat;
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 144dpi) {
    @dblwidth : @width * 2;
        @dblheight : @height * 2;
        
        (~".img-@{imgFile}"){
        background-image: url("@{iconRoot}@{imgFile}_@{dblwidth}x@{dblheight}.@{fileExtension}");
        background-size: cover;
    }
    }*/
.remoteRight-up {
  background-position: -0px -0px;
}
.remoteRight-down {
  background-position: -88px -0px;
}
.remoteRight-disabled {
  background-position: -176px -0px;
}
.remoteLeft-up {
  background-position: -0px -150px;
}
.remoteLeft-down {
  background-position: -88px -150px;
}
.remoteLeft-disabled {
  background-position: -176px -150px;
}
.img-remote_vertical {
  background-image: url("../../img/icons/remote_vertical_150x86.png");
  width: 150px;
  height: 86px;
  background-repeat: no-repeat;
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 144dpi) {
    @dblwidth : @width * 2;
        @dblheight : @height * 2;
        
        (~".img-@{imgFile}"){
        background-image: url("@{iconRoot}@{imgFile}_@{dblwidth}x@{dblheight}.@{fileExtension}");
        background-size: cover;
    }
    }*/
.remoteDown-up {
  background-position: -0px -0px;
}
.remoteDown-down {
  background-position: -150px -0px;
}
.remoteDown-disabled {
  background-position: -300px -0px;
}
.remoteUp-up {
  background-position: -0px -86px;
}
.remoteUp-down {
  background-position: -150px -86px;
}
.remoteUp-disabled {
  background-position: -300px -86px;
}
.img-remote_diagonal {
  background-image: url("../../img/icons/remote_diagonal_60x60.png");
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 144dpi) {
    @dblwidth : @width * 2;
        @dblheight : @height * 2;
        
        (~".img-@{imgFile}"){
        background-image: url("@{iconRoot}@{imgFile}_@{dblwidth}x@{dblheight}.@{fileExtension}");
        background-size: cover;
    }
    }*/
.remoteDiagLeft-up {
  background-position: -0px -0px;
}
.remoteDiagLeft-down {
  background-position: -60px -0px;
}
.remoteDiagLeft-disabled {
  background-position: -120px -0px;
}
.remoteDiagRight-up {
  background-position: -0px -0px;
}
.remoteDiagRight-down {
  background-position: -60px -0px;
}
.remoteDiagRight-disabled {
  background-position: -120px -0px;
}
.img-categoryimg {
  background-image: url("../../img/icons/categoryimg_303x303.png");
  width: 303px;
  height: 303px;
  background-repeat: no-repeat;
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 144dpi) {
    @dblwidth : @width * 2;
        @dblheight : @height * 2;
        
        (~".img-@{imgFile}"){
        background-image: url("@{iconRoot}@{imgFile}_@{dblwidth}x@{dblheight}.@{fileExtension}");
        background-size: cover;
    }
    }*/
.cleaningimg-up {
  background-position: -0px -0px;
}
.cleaningimg-disabled {
  background-position: -303px -0px;
}
.remoteimg-up {
  background-position: -0px -303px;
}
.remoteimg-disabled {
  background-position: -303px -303px;
}
.settingsimg-up {
  background-position: -0px -606px;
}
.settingsimg-disabled {
  background-position: -303px -606px;
}
.scheduleimg-up {
  background-position: -0px -909px;
}
.scheduleimg-disabled {
  background-position: -303px -909px;
}
.img-selectionarea .ui-resizable-handle {
  background-image: url("../../img/icons/selectionarea_50x50.png");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 144dpi) {
    @dblwidth : @width * 2;
        @dblheight : @height * 2;
        
        (~".img-@{imgFile}"){
        background-image: url("@{iconRoot}@{imgFile}_@{dblwidth}x@{dblheight}.@{fileExtension}");
        background-size: cover;
    }
    }*/
.img-category {
  background-image: url("../../img/icons/category_40x40.png");
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 144dpi) {
    @dblwidth : @width * 2;
        @dblheight : @height * 2;
        
        (~".img-@{imgFile}"){
        background-image: url("@{iconRoot}@{imgFile}_@{dblwidth}x@{dblheight}.@{fileExtension}");
        background-size: cover;
    }
    }*/
.cat-bath {
  background-position: -0px -0px;
}
.cat-baby {
  background-position: -0px -50px;
}
.cat-children {
  background-position: -0px -100px;
}
.cat-cat {
  background-position: -0px -150px;
}
.cat-garage {
  background-position: -0px -200px;
}
.cat-dog {
  background-position: -0px -250px;
}
.img-product_logo {
  background-image: url("../../img/icons/product_logo_142x31.png");
  width: 142px;
  height: 31px;
  background-repeat: no-repeat;
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
                        only screen and (min-resolution: 144dpi) {
    @dblwidth : @width * 2;
        @dblheight : @height * 2;
        
        (~".img-@{imgFile}"){
        background-image: url("@{iconRoot}@{imgFile}_@{dblwidth}x@{dblheight}.@{fileExtension}");
        background-size: cover;
    }
    }*/
.ui-icon-tick {
  background-image: url("../../img/icons/tick_34x35.png");
  background-size: 34px 35px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .ui-icon-tick {
    background-image: url("../../img/icons/tick_68x70.png");
  }
}
.ui-icon-cross {
  background-image: url("../../img/icons/cross_34x35.png");
  background-size: 34px 35px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .ui-icon-cross {
    background-image: url("../../img/icons/cross_68x70.png");
  }
}
