@font-face {
  font-family: TazText;
  src: url("../../fonts/TazTextWt05-RegularG083.otf") format("opentype");
}
@font-face {
  font-family: TazText;
  font-weight: bold;
  src: url("../../fonts/TazTextWt07-Bold.otf") format("opentype");
}
*,
body .ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c {
  font-family: "TazText";
}
/**
 *   Create an image definition with (optional) additional classes that are attached to the
 *   img-imgFile name. i.e. if the imgFile name is "myPicture" and the additional classes are ".bright" the resulting
 *   CSS will contain ".img-myPicture .bright {...}"
 */
/**
 *   Create a simple image with the given dimensions.
 */
/**
 *  Creates the sprite position offset styles for a specific image
 *  using the states name supplied.
 */
/**
 *   Create a sprite for a certain row with the defined states.
 *   By default the names for the states are "up", "down", "disabled".
 *   The name of the states can be set. Currently only three states are available.
 *   @spriteName: The name for this sprite 
 *   @width: width of one sprite
 *   @height: height of one sprite
 *   @stateAmount: The amount of states within this image
 *   @state1: The name of the first state (default: up)
 *   @state2: The name of the second state (default: down)
 *   @state3: The name of the thrid state (default:disabled)
 */
/*@listview_lastCell_gradient_mid: #353535:
@listview_lastCell_gradient_end: #353535:*/
.ui-mobile-viewport {
  background: -moz-linear-gradient(top, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#333332, #0f0f0f), color-stop(50%, #00ff00), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(top, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  background: -o-linear-gradient(top, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  background: -ms-linear-gradient(top, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  background: linear-gradient(to bottom, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#0f0f0f', '#0000ff', GradientType=0);
  background: #0f0f0f;
  background: -moz-linear-gradient(top, #0f0f0f 0%, #333332 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f0f0f), color-stop(100%, #333332));
  background: -webkit-linear-gradient(top, #0f0f0f 0%, #333332 100%);
  background: -o-linear-gradient(top, #0f0f0f 0%, #333332 100%);
  background: -ms-linear-gradient(top, #0f0f0f 0%, #333332 100%);
  background: linear-gradient(to bottom, #0f0f0f 0%, #333332 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#0f0f0f', '#333332', GradientType=0);
}
.ui-page {
  background: -moz-linear-gradient(top, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#333332, #0f0f0f), color-stop(50%, #00ff00), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(top, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  background: -o-linear-gradient(top, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  background: -ms-linear-gradient(top, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  background: linear-gradient(to bottom, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#0f0f0f', '#0000ff', GradientType=0);
  background: #0f0f0f;
  background: -moz-linear-gradient(top, #0f0f0f 0%, #333332 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f0f0f), color-stop(100%, #333332));
  background: -webkit-linear-gradient(top, #0f0f0f 0%, #333332 100%);
  background: -o-linear-gradient(top, #0f0f0f 0%, #333332 100%);
  background: -ms-linear-gradient(top, #0f0f0f 0%, #333332 100%);
  background: linear-gradient(to bottom, #0f0f0f 0%, #333332 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#0f0f0f', '#333332', GradientType=0);
}
.dialog.ui-mobile-viewport {
  background: -moz-linear-gradient(top, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#333332, #0f0f0f), color-stop(50%, #00ff00), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(top, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  background: -o-linear-gradient(top, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  background: -ms-linear-gradient(top, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  background: linear-gradient(to bottom, #0f0f0f #333332, #00ff00 50%, #0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#0f0f0f', '#0000ff', GradientType=0);
  background: #0f0f0f;
  background: -moz-linear-gradient(top, #0f0f0f 0%, #333332 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f0f0f), color-stop(100%, #333332));
  background: -webkit-linear-gradient(top, #0f0f0f 0%, #333332 100%);
  background: -o-linear-gradient(top, #0f0f0f 0%, #333332 100%);
  background: -ms-linear-gradient(top, #0f0f0f 0%, #333332 100%);
  background: linear-gradient(to bottom, #0f0f0f 0%, #333332 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#0f0f0f', '#333332', GradientType=0);
}
h2 {
  font-size: 24px;
  font-weight: 100;
  color: #b1b2b3;
}
label {
  color: #b1b2b3;
  font-weight: 100;
  font-size: 18pt;
  text-shadow: none;
  padding: 0.5em;
  display: block;
}
.ui-li-desc {
  font-size: 16px;
  font-weight: 800;
}
.ui-li-desc.top {
  font-weight: 400;
  font-size: 13px;
  margin-top: 6px;
}
.ui-li-heading {
  font-size: 18px;
  margin: 0.5em 0;
}
.companyColoredTxt {
  color: #009a3d;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}
.bigListItem {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}
#menuPopup-popup {
  left: 20px!important;
  right: 20px!important;
  max-width: 616px!important;
  max-height: 616px!important;
  min-width: 280px!important;
  margin: auto;
}
/* === PAGE BACKGROUND AND GENERICS === */
/*http://jsfiddle.net/tvjTy/ http://jsfiddle.net/tvjTy/1/ */
.ui-content {
  color: #FFFFFF;
  text-shadow: 0px -1px 0px #000000;
  padding: 10px;
}
.ui-page-header-fullscreen .ui-content,
.ui-page-footer-fullscreen .ui-content {
  padding-top: 39px;
  /* fix for fixed toolbar mode */

}
/* === IN PAGE BUTTON === */
.ui-btn-up-c {
  background: transparent;
}
.ui-btn-hover-c {
  background: transparent;
}
.ui-btn.ui-btn-plain {
  padding: 0;
  background: #FFF;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  box-shadow: none;
  background-clip: padding-box;
}
.ui-btn.ui-btn-plain .ui-btn-inner {
  background: #FFF;
  box-shadow: none;
  border-radius: 10px;
}
.ui-btn.ui-btn-plain .ui-btn-inner .ui-collapsible-heading-toggle {
  background: none;
  padding: 15px 0;
}
.ui-btn.ui-btn-plain .ui-btn-text {
  font-weight: bold;
  font-size: 17px;
  color: #000;
  text-shadow: none;
}
.ui-btn.ui-btn-plain.ui-disabled {
  opacity: 1;
}
.ui-btn.ui-btn-plain[disabled] {
  cursor: default;
}
.ui-btn.ui-btn-plain[disabled].ui-btn-down-c .ui-btn-inner {
  background: #FFF;
}
.ui-btn-hover-c:hover a.ui-link-inherit {
  color: #fff;
}
.ui-btn.ui-btn-plain[disabled] span,
.ui-btn.ui-disabled span,
.ui-btn.ui-btn-plain[disabled].ui-btn-down-c span,
.ui-btn.ui-disabled.ui-btn-down-c span {
  color: #aaaaaa;
}
/* button active */
.ui-btn.ui-btn-plain.ui-btn-down-c .ui-btn-inner,
.ui-btn.ui-btn-plain.ui-btn-active .ui-btn-inner {
  background: #008bf5;
  /* Old browsers */

  background: -moz-linear-gradient(top, #008bf5 0%, #0f5be6 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008bf5), color-stop(100%, #0f5be6));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #008bf5 0%, #0f5be6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #008bf5 0%, #0f5be6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #008bf5 0%, #0f5be6 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #008bf5 0%, #0f5be6 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008bf5', endColorstr='#0f5be6', GradientType=0);
  /* IE6-9 */

}
.ui-btn.ui-btn-plain.ui-btn-down-c span {
  color: #FFF;
  text-shadow: none;
}
/* === HEADER BARS - DEFAULT AND BLACK === */
.ui-header {
  height: 42px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -moz-linear-gradient(top, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#101010, #4c4c4c), color-stop(50%, #00ff00), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(top, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  background: -o-linear-gradient(top, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  background: -ms-linear-gradient(top, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  background: linear-gradient(to bottom, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#4c4c4c', '#0000ff', GradientType=0);
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #4c4c4c 0%, #101010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #101010));
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #101010 100%);
  background: -o-linear-gradient(top, #4c4c4c 0%, #101010 100%);
  background: -ms-linear-gradient(top, #4c4c4c 0%, #101010 100%);
  background: linear-gradient(to bottom, #4c4c4c 0%, #101010 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#4c4c4c', '#101010', GradientType=0);
  margin-top: 5px;
  box-shadow: 0px 0px 15px 5px #000;
}
.ui-header:before {
  content: "";
  height: 5px;
  margin-top: -5px;
  background: -moz-linear-gradient(top, #00bf4c #00a03f, #00ff00 50%, #0000ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#00a03f, #00bf4c), color-stop(50%, #00ff00), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(top, #00bf4c #00a03f, #00ff00 50%, #0000ff 100%);
  background: -o-linear-gradient(top, #00bf4c #00a03f, #00ff00 50%, #0000ff 100%);
  background: -ms-linear-gradient(top, #00bf4c #00a03f, #00ff00 50%, #0000ff 100%);
  background: linear-gradient(to bottom, #00bf4c #00a03f, #00ff00 50%, #0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#00bf4c', '#0000ff', GradientType=0);
  background: #00bf4c;
  background: -moz-linear-gradient(top, #00bf4c 0%, #00a03f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bf4c), color-stop(100%, #00a03f));
  background: -webkit-linear-gradient(top, #00bf4c 0%, #00a03f 100%);
  background: -o-linear-gradient(top, #00bf4c 0%, #00a03f 100%);
  background: -ms-linear-gradient(top, #00bf4c 0%, #00a03f 100%);
  background: linear-gradient(to bottom, #00bf4c 0%, #00a03f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#00bf4c', '#00a03f', GradientType=0);
  width: 100%;
  display: block;
}
.ui-header.ui-bar-b,
.ui-header.ui-bar-a {
  border: 0px solid #000;
  background: -moz-linear-gradient(top, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#101010, #4c4c4c), color-stop(50%, #00ff00), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(top, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  background: -o-linear-gradient(top, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  background: -ms-linear-gradient(top, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  background: linear-gradient(to bottom, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#4c4c4c', '#0000ff', GradientType=0);
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #4c4c4c 0%, #101010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #101010));
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #101010 100%);
  background: -o-linear-gradient(top, #4c4c4c 0%, #101010 100%);
  background: -ms-linear-gradient(top, #4c4c4c 0%, #101010 100%);
  background: linear-gradient(to bottom, #4c4c4c 0%, #101010 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#4c4c4c', '#101010', GradientType=0);
}
.ui-header.ui-bar-transparent {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset, 0 -1px 0 rgba(0, 0, 0, 0) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset, 0 -1px 0 rgba(0, 0, 0, 0) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0) inset, 0 -1px 0 rgba(0, 0, 0, 0) inset;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=0);
}
.ui-btn-inner {
  border: 0px none;
}
.ui-header .ui-title {
  text-shadow: 0 -1px 0 #4c596a !important;
}
/* === LIST VIEWS === */
.ui-listview {
  background: -moz-linear-gradient(top, #202124 #353535, #00ff00 50%, #0000ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#353535, #202124), color-stop(50%, #00ff00), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(top, #202124 #353535, #00ff00 50%, #0000ff 100%);
  background: -o-linear-gradient(top, #202124 #353535, #00ff00 50%, #0000ff 100%);
  background: -ms-linear-gradient(top, #202124 #353535, #00ff00 50%, #0000ff 100%);
  background: linear-gradient(to bottom, #202124 #353535, #00ff00 50%, #0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#202124', '#0000ff', GradientType=0);
  background: #202124;
  background: -moz-linear-gradient(top, #202124 0%, #353535 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #202124), color-stop(100%, #353535));
  background: -webkit-linear-gradient(top, #202124 0%, #353535 100%);
  background: -o-linear-gradient(top, #202124 0%, #353535 100%);
  background: -ms-linear-gradient(top, #202124 0%, #353535 100%);
  background: linear-gradient(to bottom, #202124 0%, #353535 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#202124', '#353535', GradientType=0);
}
.ui-listview .ui-btn.ui-btn-down-c {
  background: #004d1f;
  border-color: #005422;
}
.ui-listview .ui-btn.ui-selected {
  background: #95c11c;
  border-color: #005422;
}
.ui-listview .ui-btn-down-c a {
  color: #FFF;
}
.ui-listview .ui-icon-arrow-r {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ui-listview .ui-li-divider {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-top: #717d85;
  border-bottom: #989ea4;
  -webkit-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4) inset;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4) inset;
  background: #6d8291;
  /* Old browsers */

  background: -moz-linear-gradient(top, #6d8291 0%, #8ea0ad 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6d8291), color-stop(100%, #8ea0ad));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6d8291 0%, #8ea0ad 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6d8291 0%, #8ea0ad 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6d8291 0%, #8ea0ad 100%);
  /* IE10+ */

  background: linear-gradient(top, #6d8291 0%, #8ea0ad 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d8291', endColorstr='#8ea0ad', GradientType=0);
  /* IE6-9 */

}
.ui-listview .ui-icon-arrow-r {
  background: transparent url(ios_inspired/images/arrow_right.png) center center no-repeat !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-size: 24px 24px;
}
.ui-listview .ui-icon.ui-icon-tick {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  width: 34px;
  height: 35px;
  margin-top: -17px;
  display: none;
}
.ui-listview .checked .ui-icon.ui-icon-tick {
  display: block;
}
.ui-listview .thumbnail {
  padding-left: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  width: 0px;
}
.ui-listview .ui-btn {
  border-radius: 5px;
  border-color: #3B3B3A;
  background: transparent;
  box-shadow: none !important;
}
.ui-listview-inset .ui-btn {
  border-right-width: 2px;
  border-left-width: 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top-width: 0px;
  min-height: 40px;
  border-bottom-width: 0px;
}
.ui-listview-inset .ui-btn:first-child {
  border-top-width: 2px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.ui-listview-inset .ui-btn:last-child {
  border-bottom-width: 2px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: inset 0px -10px 6px -11px #ffffff;
}
.ui-listview-inset .ui-btn:last-child .ui-btn-inner {
  border-bottom-style: none;
}
.ui-listview-inset .ui-btn .ui-btn-inner {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #121213;
}
.ui-body-c .ui-link-inherit {
  color: #ffffff;
}
.ui-btn-up-c:visited,
.ui-btn-up-c a.ui-link-inherit {
  color: #ffffff;
}
.ui-btn-hover-c:visited,
.ui-btn-hover-c:hover,
.ui-btn-hover-c a.ui-link-inherit {
  color: #ffffff;
}
/* === SLIDER STYLES === */
div.ui-slider {
  height: 9px;
  border: 1px solid #929292;
  background: #bababa;
  /* Old browsers */

  background: -moz-linear-gradient(top, #bababa 0%, #f8f8f8 50%, #f8f8f8 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bababa), color-stop(50%, #f8f8f8), color-stop(100%, #f8f8f8));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #bababa 0%, #f8f8f8 50%, #f8f8f8 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #bababa 0%, #f8f8f8 50%, #f8f8f8 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #bababa 0%, #f8f8f8 50%, #f8f8f8 100%);
  /* IE10+ */

  background: linear-gradient(top, #bababa 0%, #f8f8f8 50%, #f8f8f8 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#f8f8f8', GradientType=0);
  /* IE6-9 */

}
a.ui-slider-handle {
  width: 20px;
  height: 20px;
  border: 1px solid #bbbbbb;
  margin-top: -12px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 2px 0 rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 2px 0 rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75), 0 2px 0 rgba(255, 255, 255, 0.75) inset;
  background: #fafafa;
  /* Old browsers */

  background: -moz-linear-gradient(top, #fafafa 100%, #d4d4d4 0%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #fafafa), color-stop(0%, #d4d4d4));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fafafa 100%, #d4d4d4 0%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fafafa 100%, #d4d4d4 0%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fafafa 100%, #d4d4d4 0%);
  /* IE10+ */

  background: linear-gradient(top, #fafafa 100%, #d4d4d4 0%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#fafafa', GradientType=0);
  /* IE6-9 */

}
input.ui-slider-input {
  display: none !important;
}
/* === SEARCH FIELD === */
.ui-input-search {
  height: 31px;
  background-color: #FFF;
  border: 1px solid #bbbbbb;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
}
/* === TEXT FIELD === */
input.ui-input-text {
  height: 31px;
  border: 1px solid #454545;
  background: rgba(153, 170, 194, 0.1);
  background: -moz-linear-gradient(top, rgba(153, 170, 194, 0.1) 0%, rgba(255, 255, 255, 0.1) 98%, rgba(255, 255, 255, 0.33) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153, 170, 194, 0.1)), color-stop(98%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.33)));
  background: -webkit-linear-gradient(top, rgba(153, 170, 194, 0.1) 0%, rgba(255, 255, 255, 0.1) 98%, rgba(255, 255, 255, 0.33) 100%);
  background: -o-linear-gradient(top, rgba(153, 170, 194, 0.1) 0%, rgba(255, 255, 255, 0.1) 98%, rgba(255, 255, 255, 0.33) 100%);
  background: -ms-linear-gradient(top, rgba(153, 170, 194, 0.1) 0%, rgba(255, 255, 255, 0.1) 98%, rgba(255, 255, 255, 0.33) 100%);
  background: linear-gradient(to bottom, rgba(153, 170, 194, 0.1) 0%, rgba(255, 255, 255, 0.1) 98%, rgba(255, 255, 255, 0.33) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('rgba(153, 170, 194, 0.1)', 'rgba(255, 255, 255, 0.33)', GradientType=0);
  color: #ffffff;
  text-shadow: none;
}
input.ui-input-text.invalid {
  border: 2px solid #B00900;
}
.ui-icon-searchfield .ui-input-text {
  height: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* === BUTTON STYLES - SURROUNDS DIALOG BUTTONS === */
.ui-btn {
  border-radius: 5px;
  border-color: #000;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  background: #6a6a6a;
  /* Old browsers */

  background: -moz-linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6a6a6a), color-stop(49%, #313131), color-stop(50%, #000000), color-stop(100%, #000000));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* IE10+ */

  background: linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a6a6a', endColorstr='#000000', GradientType=0);
  /* IE6-9 */

}
.ui-btn .ui-btn-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.ui-btn.ui-btn-inline.ui-btn-active {
  background: #6a6a6a;
  /* Old browsers */

  background: -moz-linear-gradient(top, #006829 0%, #006829 49%, #003722 50%, #003722 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006829), color-stop(49%, #006829), color-stop(50%, #003722), color-stop(100%, #003722));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #006829 0%, #006829 49%, #003722 50%, #003722 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #006829 0%, #006829 49%, #003722 50%, #003722 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #006829 0%, #006829 49%, #003722 50%, #003722 100%);
  /* IE10+ */

  background: linear-gradient(top, #006829 0%, #006829 49%, #003722 50%, #003722 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006829', endColorstr='#003722', GradientType=0);
  /* IE6-9 */

}
.ui-select .ui-btn {
  width: 200px;
  display: inline-block;
  margin-right: 10px;
}
.ui-inline {
  display: inline-block !important;
}
.ui-corner-left {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 2px;
}
.ui-corner-right {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.ui-dialog {
  background: rgba(0, 0, 0, 0.6) none !important;
  margin: 0;
}
.ui-dialog .ui-dialog-contain {
  max-width: 100%;
  width: 100%;
  position: static;
}
.ui-dialog .ui-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  /* fixes issue #24 */

  padding: 0.75em;
  margin: 0;
  border-top: 1px solid #45484d;
  background: #a8b1bd;
  /* Old browsers */

  background: -moz-linear-gradient(top, #a8b1bd 0%, #646d7b 15%, #535c68 16%, #535c68 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8b1bd), color-stop(15%, #646d7b), color-stop(16%, #535c68), color-stop(100%, #535c68));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #a8b1bd 0%, #646d7b 15%, #535c68 16%, #535c68 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #a8b1bd 0%, #646d7b 15%, #535c68 16%, #535c68 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #a8b1bd 0%, #646d7b 15%, #535c68 16%, #535c68 100%);
  /* IE10+ */

  background: linear-gradient(top, #a8b1bd 0%, #646d7b 15%, #535c68 16%, #535c68 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8b1bd', endColorstr='#535c68', GradientType=0);
  /* IE6-9 */

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-dialog .ui-btn {
  border: none transparent !important;
}
/* === DIALOG BUTTONS E ===*/
.ui-dialog .ui-btn-up-e .ui-btn-text,
.ui-dialog .ui-btn-hover-e .ui-btn-text {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.ui-dialog .ui-btn-up-e .ui-btn-inner,
.ui-dialog .ui-btn-hover-e .ui-btn-inner {
  background: #e18285;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e18285 0%, #d76369 49%, #cd2a27 50%, #bf2321 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e18285), color-stop(49%, #d76369), color-stop(50%, #cd2a27), color-stop(100%, #bf2321));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e18285 0%, #d76369 49%, #cd2a27 50%, #bf2321 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e18285 0%, #d76369 49%, #cd2a27 50%, #bf2321 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e18285 0%, #d76369 49%, #cd2a27 50%, #bf2321 100%);
  /* IE10+ */

  background: linear-gradient(top, #e18285 0%, #d76369 49%, #cd2a27 50%, #bf2321 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e18285', endColorstr='#bf2321', GradientType=0);
  /* IE6-9 */

}
/* === DIALOG BUTTONS D ===*/
.ui-dialog .ui-btn-up-d .ui-btn-text,
.ui-dialog .ui-btn-hover-d .ui-btn-text {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.ui-dialog .ui-btn-up-d .ui-btn-inner,
.ui-dialog .ui-btn-hover-d .ui-btn-inner {
  background: #7bbf81;
  /* Old browsers */

  background: -moz-linear-gradient(top, #7bbf81 0%, #31ab3b 49%, #009e0f 50%, #009a0c 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bbf81), color-stop(49%, #31ab3b), color-stop(50%, #009e0f), color-stop(100%, #009a0c));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #7bbf81 0%, #31ab3b 49%, #009e0f 50%, #009a0c 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #7bbf81 0%, #31ab3b 49%, #009e0f 50%, #009a0c 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #7bbf81 0%, #31ab3b 49%, #009e0f 50%, #009a0c 100%);
  /* IE10+ */

  background: linear-gradient(top, #7bbf81 0%, #31ab3b 49%, #009e0f 50%, #009a0c 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bbf81', endColorstr='#009a0c', GradientType=0);
  /* IE6-9 */

}
/* === DIALOG BUTTONS C ===*/
.ui-dialog .ui-btn-up-c .ui-btn-text,
.ui-dialog .ui-btn-hover-c .ui-btn-text {
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.ui-dialog .ui-btn-up-c .ui-btn-inner,
.ui-dialog .ui-btn-hover-c .ui-btn-inner {
  background: #e4d0a0;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e4d0a0 0%, #efcd63 49%, #f0be22 50%, #f9dd24 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4d0a0), color-stop(49%, #efcd63), color-stop(50%, #f0be22), color-stop(100%, #f9dd24));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #e4d0a0 0%, #efcd63 49%, #f0be22 50%, #f9dd24 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e4d0a0 0%, #efcd63 49%, #f0be22 50%, #f9dd24 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e4d0a0 0%, #efcd63 49%, #f0be22 50%, #f9dd24 100%);
  /* IE10+ */

  background: linear-gradient(top, #e4d0a0 0%, #efcd63 49%, #f0be22 50%, #f9dd24 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4d0a0', endColorstr='#f9dd24', GradientType=0);
  /* IE6-9 */

}
/* === DIALOG BUTTONS B ===*/
.ui-dialog .ui-btn-up-b .ui-btn-text,
.ui-dialog .ui-btn-hover-b .ui-btn-text {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.ui-dialog .ui-btn-up-b .ui-btn-inner,
.ui-dialog .ui-btn-hover-b .ui-btn-inner {
  background: #5e636a;
  /* Old browsers */

  background: -moz-linear-gradient(top, #5e636a 0%, #272d37 49%, #171f28 50%, #252d36 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e636a), color-stop(49%, #272d37), color-stop(50%, #171f28), color-stop(100%, #252d36));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #5e636a 0%, #272d37 49%, #171f28 50%, #252d36 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #5e636a 0%, #272d37 49%, #171f28 50%, #252d36 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #5e636a 0%, #272d37 49%, #171f28 50%, #252d36 100%);
  /* IE10+ */

  background: linear-gradient(top, #5e636a 0%, #272d37 49%, #171f28 50%, #252d36 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e636a', endColorstr='#252d36', GradientType=0);
  /* IE6-9 */

}
/* === DIALOG BUTTONS A ===*/
.ui-dialog .ui-btn-up-a .ui-btn-text,
.ui-dialog .ui-btn-hover-a .ui-btn-text {
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.ui-dialog .ui-btn-up-a .ui-btn-inner,
.ui-dialog .ui-btn-hover-a .ui-btn-inner {
  background: #ededee;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ededee 0%, #cfd0d1 49%, #bababb 50%, #bdbfc2 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededee), color-stop(49%, #cfd0d1), color-stop(50%, #bababb), color-stop(100%, #bdbfc2));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ededee 0%, #cfd0d1 49%, #bababb 50%, #bdbfc2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ededee 0%, #cfd0d1 49%, #bababb 50%, #bdbfc2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ededee 0%, #cfd0d1 49%, #bababb 50%, #bdbfc2 100%);
  /* IE10+ */

  background: linear-gradient(top, #ededee 0%, #cfd0d1 49%, #bababb 50%, #bdbfc2 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededee', endColorstr='#bdbfc2', GradientType=0);
  /* IE6-9 */

}
/* === BACK BUTTON === */
a[data-icon='back'],
.ui-header a[data-icon='back'] {
  background: transparent url(ios_inspired/images/backButtonSprite.png) 0 0 no-repeat !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border: 0 none !important;
  height: 30px;
}
a[data-icon='back'] .ui-btn-inner {
  background: transparent url(ios_inspired/images/backButtonSprite.png) right 0 no-repeat !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 32px;
  line-height: 31px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
a[data-icon='back'] .ui-icon {
  display: none;
}
/* === BLACK - BACK BUTTON === */
.ui-bar-b a[data-icon='back'] {
  background-position: 0 -30px !important;
}
.ui-bar-b a[data-icon='back'] .ui-btn-inner {
  background-position: right -30px !important;
}
/* === TOGGLE === */
div.ui-slider-switch {
  border-color: #9b9b9b;
  height: 32px;
}
span.ui-slider-label-b {
  color: #7f7f7f;
  background: #f9f9f9 none;
  -webkit-box-shadow: -10px 15px 0 rgba(0, 0, 0, 0.07) inset, 0 2px 6px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: -10px 15px 0 rgba(0, 0, 0, 0.07) inset, 0 2px 6px rgba(0, 0, 0, 0.5) inset;
  box-shadow: -10px 15px 0 rgba(0, 0, 0, 0.07) inset, 0 2px 6px rgba(0, 0, 0, 0.5) inset;
}
span.ui-slider-label-a {
  color: #FFF;
  background: #007fea none;
  -webkit-box-shadow: 10px 15px 0 rgba(0, 0, 0, 0.1) inset, 0 2px 6px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 10px 15px 0 rgba(0, 0, 0, 0.1) inset, 0 2px 6px rgba(0, 0, 0, 0.6) inset;
  box-shadow: 10px 15px 0 rgba(0, 0, 0, 0.1) inset, 0 2px 6px rgba(0, 0, 0, 0.6) inset;
}
div.ui-slider-switch a.ui-slider-handle {
  width: 31px;
  height: 31px;
  margin-top: -1px;
  margin-left: -16px;
  border-color: #717171;
  background: #d0d0d0;
  /* Old browsers */

  background: -moz-linear-gradient(top, #d0d0d0 0%, #fcfcfc 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(100%, #fcfcfc));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #d0d0d0 0%, #fcfcfc 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #d0d0d0 0%, #fcfcfc 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #d0d0d0 0%, #fcfcfc 100%);
  /* IE10+ */

  background: linear-gradient(top, #d0d0d0 0%, #fcfcfc 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0', endColorstr='#fcfcfc', GradientType=0);
  /* IE6-9 */

  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7) inset, 0 0 2px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7) inset, 0 0 2px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7) inset, 0 0 2px rgba(0, 0, 0, 0.25) !important;
}
div.ui-slider-switch a.ui-slider-handle.ui-focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* === RADIO OPTION === */
.ui-controlgroup-horizontal .ui-radio .ui-btn {
  background: #fcfcfc;
  /* Old browsers */

  background: -moz-linear-gradient(top, #fcfcfc 0%, #c9c9c9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #c9c9c9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fcfcfc 0%, #c9c9c9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fcfcfc 0%, #c9c9c9 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fcfcfc 0%, #c9c9c9 100%);
  /* IE10+ */

  background: linear-gradient(top, #fcfcfc 0%, #c9c9c9 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#c9c9c9', GradientType=0);
  /* IE6-9 */

}
.ui-controlgroup-horizontal .ui-radio .ui-btn-active {
  background: #376fd4;
  /* Old browsers */

  background: -moz-linear-gradient(top, #376fd4 0%, #417fe7 49%, #4c88e9 50%, #73a8fb 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #376fd4), color-stop(49%, #417fe7), color-stop(50%, #4c88e9), color-stop(100%, #73a8fb));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #376fd4 0%, #417fe7 49%, #4c88e9 50%, #73a8fb 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #376fd4 0%, #417fe7 49%, #4c88e9 50%, #73a8fb 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #376fd4 0%, #417fe7 49%, #4c88e9 50%, #73a8fb 100%);
  /* IE10+ */

  background: linear-gradient(top, #376fd4 0%, #417fe7 49%, #4c88e9 50%, #73a8fb 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#376fd4', endColorstr='#73a8fb', GradientType=0);
  /* IE6-9 */

  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
}
.ui-controlgroup-horizontal .ui-radio label {
  border-width: 0 0 0 1px;
  border-color: #adaead;
}
.ui-controlgroup-horizontal .ui-radio .ui-btn-active .ui-btn-text {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.ui-controlgroup-horizontal .ui-radio .ui-btn-text {
  color: #7f7f7f;
  text-shadow: 0 1px 0 #FFF;
}
.ui-controlgroup-horizontal .ui-radio .ui-btn-inner {
  padding: .6em 1.2em !important;
}
/* === INPUT - TEXT === */
input.ui-input-text,
.ui-input-search {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: 400;
}
input.ui-input-text,
textarea.ui-input-text {
  line-height: inherit !important;
}
.ui-shadow-inset {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ui-input-search input {
  padding: 0 !important;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ui-focus,
.ui-btn:focus {
  box-shadow: inset 0px 0px 3px #387BBE, 0px 0px 9px #387BBE;
}
.ui-input-clear {
  background: transparent url(images/iconSprite.png) 0 0 no-repeat;
  width: 19px;
  height: 19px;
  border: none;
  margin-top: -9px !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ui-input-clear * {
  display: none;
}
/* === CUSTOM HEADER BUTTONS === */
/* Default Blue */
.ui-header .ui-btn {
  border-color: #375074;
  top: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  background: #89a0be;
  /* Old browsers */

  background: -moz-linear-gradient(top, #89a0be 0%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89a0be), color-stop(50%, #5877a2), color-stop(51%, #486a9a), color-stop(100%, #4a6c9b));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #89a0be 0%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #89a0be 0%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #89a0be 0%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
  /* IE10+ */

  background: linear-gradient(top, #89a0be 0%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89a0be', endColorstr='#4a6c9b', GradientType=0);
  /* IE6-9 */

}
.ui-header .ui-btn .ui-btn-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* Black Button */
.ui-header .ui-btn-up-b,
.ui-header .ui-btn-hover-b {
  border-color: #000;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  background: #6a6a6a;
  /* Old browsers */

  background: -moz-linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6a6a6a), color-stop(49%, #313131), color-stop(50%, #000000), color-stop(100%, #000000));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* IE10+ */

  background: linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a6a6a', endColorstr='#000000', GradientType=0);
  /* IE6-9 */

}
.ui-header .ui-btn-up-b .ui-btn-text,
.ui-header .ui-btn-hover-b .ui-btn-text {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.ui-header .ui-btn-down-b,
.ui-btn-down-b,
.ui-btn-down-c {
  border-color: #000;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #303030 67%, #303030 100%, #444444 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(67%, #303030), color-stop(100%, #303030), color-stop(100%, #444444));
  background: -webkit-linear-gradient(top, #000000 0%, #303030 67%, #303030 100%, #444444 100%);
  background: linear-gradient(to bottom, #000000 0%, #303030 67%, #303030 100%, #444444 100%);
}
/* transparent header*/
.ui-header .ui-btn-up-transparent,
.ui-header .ui-btn-hover-transparent {
  border-color: #000;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  background: #6a6a6a;
  /* Old browsers */

  background: -moz-linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6a6a6a), color-stop(49%, #313131), color-stop(50%, #000000), color-stop(100%, #000000));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* IE10+ */

  background: linear-gradient(top, #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a6a6a', endColorstr='#000000', GradientType=0);
  /* IE6-9 */

}
.ui-header .ui-btn-up-transparent .ui-btn-text,
.ui-header .ui-btn-hover-transparent .ui-btn-text {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.ui-header .ui-btn-up-c,
.ui-header .ui-btn-hover-c {
  border-color: #451c1b;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  background: #dc7679;
  /* Old browsers */

  background: -moz-linear-gradient(top, #dc7679 0%, #dc7679 49%, #cd2a27 50%, #c92a29 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dc7679), color-stop(49%, #dc7679), color-stop(50%, #cd2a27), color-stop(100%, #c92a29));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #dc7679 0%, #dc7679 49%, #cd2a27 50%, #c92a29 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #dc7679 0%, #dc7679 49%, #cd2a27 50%, #c92a29 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #dc7679 0%, #dc7679 49%, #cd2a27 50%, #c92a29 100%);
  /* IE10+ */

  background: linear-gradient(top, #dc7679 0%, #dc7679 49%, #cd2a27 50%, #c92a29 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc7679', endColorstr='#c92a29', GradientType=0);
  /* IE6-9 */

}
.ui-header .ui-btn-up-c .ui-btn-text,
.ui-header .ui-btn-hover-c .ui-btn-text {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.ui-header .ui-btn-up-d,
.ui-header .ui-btn-hover-d {
  border-color: #375074;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.36), 0 1px 0 rgba(0, 0, 0, 0.25) inset !important;
  background: #376fe0;
  /* Old browsers */

  background: -moz-linear-gradient(top, #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #376fe0), color-stop(49%, #376fe0), color-stop(50%, #2361de), color-stop(100%, #2463de));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%);
  /* IE10+ */

  background: linear-gradient(top, #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#376fe0', endColorstr='#2463de', GradientType=0);
  /* IE6-9 */

}
.ui-header .ui-btn-up-d .ui-btn-text,
.ui-header .ui-btn-hover-d .ui-btn-text {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.ui-br {
  border-bottom-style: none;
}
/* === FOOTER BAR === */
.ui-footer {
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1px;
  border-color: #0d0d0d;
  border: none;
  text-align: right;
  background: -moz-linear-gradient(top, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#101010, #4c4c4c), color-stop(50%, #00ff00), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(top, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  background: -o-linear-gradient(top, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  background: -ms-linear-gradient(top, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  background: linear-gradient(to bottom, #4c4c4c #101010, #00ff00 50%, #0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#4c4c4c', '#0000ff', GradientType=0);
  background: #4c4c4c;
  background: -moz-linear-gradient(top, #4c4c4c 0%, #101010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c4c4c), color-stop(100%, #101010));
  background: -webkit-linear-gradient(top, #4c4c4c 0%, #101010 100%);
  background: -o-linear-gradient(top, #4c4c4c 0%, #101010 100%);
  background: -ms-linear-gradient(top, #4c4c4c 0%, #101010 100%);
  background: linear-gradient(to bottom, #4c4c4c 0%, #101010 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#4c4c4c', '#101010', GradientType=0);
}
.ui-footer .ui-btn {
  border: 0 none;
  border-color: #375074;
}
.ui-footer .ui-select {
  text-align: right;
  display: inline-block;
}
/* fixes issue #25 */
.ui-footer .ui-icon-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* === UI POPUPS === */
.ui-popup {
  background: #242423;
  color: #FFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #181818;
}
.ui-popup p {
  color: #FFF;
  text-shadow: none;
}
.ui-popup.ui-body-a img {
  margin: 30px auto 20px auto;
  display: block;
}
.ui-popup.ui-body-a p {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}
.ui-popup > .ui-header.ui-bar-b {
  margin-top: 0px;
  border-width: 1px;
}
.ui-popup > .ui-header:before {
  display: none;
}
.ui-selectmenu.ui-popup {
  background: -moz-linear-gradient(top, #000000 #262625, #00ff00 50%, #0000ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(#262625, #000000), color-stop(50%, #00ff00), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(top, #000000 #262625, #00ff00 50%, #0000ff 100%);
  background: -o-linear-gradient(top, #000000 #262625, #00ff00 50%, #0000ff 100%);
  background: -ms-linear-gradient(top, #000000 #262625, #00ff00 50%, #0000ff 100%);
  background: linear-gradient(to bottom, #000000 #262625, #00ff00 50%, #0000ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#000000', '#0000ff', GradientType=0);
  background: #000000;
  background: -moz-linear-gradient(top, #000000 0%, #262625 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #262625));
  background: -webkit-linear-gradient(top, #000000 0%, #262625 100%);
  background: -o-linear-gradient(top, #000000 0%, #262625 100%);
  background: -ms-linear-gradient(top, #000000 0%, #262625 100%);
  background: linear-gradient(to bottom, #000000 0%, #262625 100%);
  filter: progid:DXImageTransform.Microsoft.gradient('#000000', '#262625', GradientType=0);
}
.ui-selectmenu.ui-popup .ui-selectmenu-list {
  background: transparent;
}
.ui-selectmenu.ui-popup .ui-title,
.ui-selectmenu.ui-popup .ui-header {
  display: none;
}
.ui-selectmenu.ui-popup .ui-btn {
  border-radius: 0px;
  border-bottom-color: #000;
  border-bottom-width: 1px;
  border-top-color: #262626;
  border-top-width: 1px;
  border-style: solid;
  border-top-style: solid;
  font-weight: 400;
}
.ui-selectmenu.ui-popup .ui-btn.ui-btn-down-b {
  background: #004d1f;
}
.ui-selectmenu.ui-popup .ui-btn.ui-btn-active {
  background: #95c11c;
  border: 1px solid #004d1f;
}
.ui-selectmenu.ui-popup .ui-btn.ui-btn-active:active {
  background: #004d1f;
}
/* === NAVIGATION BAR === */
.ui-navbar ul {
  overflow: hidden;
  padding-bottom: 1px;
}
.ui-navbar li:first-child .ui-btn {
  border-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.ui-navbar li:last-child .ui-btn {
  border-radius: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.dayPicker {
  color: #b1b2b3;
  padding-left: 0px;
  font-size: 0px;
}
.dayPicker li {
  display: inline-block;
  height: 50px;
  max-width: 70px;
  min-width: 30px;
  border-left: 2px solid #272727;
  text-align: center;
  position: relative;
  font-size: 14pt;
}
.dayPicker li:first-child {
  border-left-width: 0px;
}
.dayPicker li .ui-icon-tick,
.dayPicker li .ui-icon-cross {
  display: none;
  height: 24px;
  width: 25px;
  text-align: center;
  position: absolute;
  top: 24px;
  margin-left: -14px;
  left: 50%;
  background-size: 25px auto;
}
.dayPicker li.disabled {
  color: rgba(180, 35, 35, 0.7);
}
.dayPicker li.disabled .ui-icon-cross {
  display: block;
  opacity: 0.8;
}
.dayPicker li.checked {
  font-weight: 800;
  color: #95c11c;
}
.dayPicker li.checked .ui-icon-tick {
  display: block;
}
.checked label {
  font-weight: 800;
  color: #95c11c;
}
.checked .ui-icon-tick {
  display: block !important;
}
/* === RETINA DEVICE FIXES === */
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .ui-listview .ui-icon-arrow-r {
    background-image: url(ios_inspired/images/arrow_right@2x.png) !important;
    background-size: 24px 24px;
  }
  a[data-rel='back'],
  .ui-header a[data-rel='back'],
  a[data-rel="back"] .ui-btn-inner {
    background-image: url(ios_inspired/images/backButtonSprite@2x.png) !important;
    background-size: 500px 60px;
  }
  .ui-input-clear {
    background-position: right 0;
    background-size: 100px 250px;
  }
}
::-webkit-input-placeholder {
  color: #737373;
  font-weight: 400;
  text-shadow: none;
}
:-moz-placeholder {
  color: #737373;
  font-weight: 400;
  text-shadow: none;
}
::-moz-placeholder {
  color: #737373;
  font-weight: 400;
  text-shadow: none;
}
:-ms-input-placeholder {
  color: #737373;
  font-weight: 400;
  text-shadow: none;
}
/* === Loading Spinner === */
#loadingArea {
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2999;
  background-color: rgba(0, 0, 0, 0.3);
}
#loadingSpinnerSmall {
  position: relative;
  display: block;
  float: left;
  width: 128px;
  height: 128px;
  -moz-transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  transform: scale(0.2);
  -moz-transform-origin: 0 0 0;
  -webkit-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  z-index: 3501;
  top: 8px;
}
#loadingSpinnerLarge {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -64px;
  margin-top: -64px;
  z-index: 3000;
  width: 128px;
  height: 128px;
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.f_circleG {
  position: absolute;
  background-color: #FFFFFF;
  height: 23px;
  width: 23px;
  -moz-border-radius: 12px;
  -moz-animation-name: f_fadeG;
  -moz-animation-duration: 0.88s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 12px;
  -webkit-animation-name: f_fadeG;
  -webkit-animation-duration: 0.88s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 12px;
  -ms-animation-name: f_fadeG;
  -ms-animation-duration: 0.88s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 12px;
  -o-animation-name: f_fadeG;
  -o-animation-duration: 0.88s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 12px;
  animation-name: f_fadeG;
  animation-duration: 0.88s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
#frotateG_01 {
  left: 0;
  top: 52px;
  -moz-animation-delay: 0.33s;
  -webkit-animation-delay: 0.33s;
  -ms-animation-delay: 0.33s;
  -o-animation-delay: 0.33s;
  animation-delay: 0.33s;
}
#frotateG_02 {
  left: 15px;
  top: 15px;
  -moz-animation-delay: 0.44s;
  -webkit-animation-delay: 0.44s;
  -ms-animation-delay: 0.44s;
  -o-animation-delay: 0.44s;
  animation-delay: 0.44s;
}
#frotateG_03 {
  left: 52px;
  top: 0;
  -moz-animation-delay: 0.55s;
  -webkit-animation-delay: 0.55s;
  -ms-animation-delay: 0.55s;
  -o-animation-delay: 0.55s;
  animation-delay: 0.55s;
}
#frotateG_04 {
  right: 15px;
  top: 15px;
  -moz-animation-delay: 0.66s;
  -webkit-animation-delay: 0.66s;
  -ms-animation-delay: 0.66s;
  -o-animation-delay: 0.66s;
  animation-delay: 0.66s;
}
#frotateG_05 {
  right: 0;
  top: 52px;
  -moz-animation-delay: 0.77s;
  -webkit-animation-delay: 0.77s;
  -ms-animation-delay: 0.77s;
  -o-animation-delay: 0.77s;
  animation-delay: 0.77s;
}
#frotateG_06 {
  right: 15px;
  bottom: 15px;
  -moz-animation-delay: 0.88s;
  -webkit-animation-delay: 0.88s;
  -ms-animation-delay: 0.88s;
  -o-animation-delay: 0.88s;
  animation-delay: 0.88s;
}
#frotateG_07 {
  left: 52px;
  bottom: 0;
  -moz-animation-delay: 0.99s;
  -webkit-animation-delay: 0.99s;
  -ms-animation-delay: 0.99s;
  -o-animation-delay: 0.99s;
  animation-delay: 0.99s;
}
#frotateG_08 {
  left: 15px;
  bottom: 15px;
  -moz-animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
@-moz-keyframes f_fadeG {
  0% {
    background-color: #95c11c;
  }
  100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes f_fadeG {
  0% {
    background-color: #95c11c;
  }
  100% {
    background-color: #ffffff;
  }
}
@-ms-keyframes f_fadeG {
  0% {
    background-color: #95c11c;
  }
  100% {
    background-color: #ffffff;
  }
}
@-o-keyframes f_fadeG {
  0% {
    background-color: #95c11c;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes f_fadeG {
  0% {
    background-color: #95c11c;
  }
  100% {
    background-color: #ffffff;
  }
}
