/**
 *  forms.less
 * contains all styles for form elements
 * inputfields(textfield), sliderswitch, selection box, ui-popups, checkbox, radiobutton
 */

// INPUT - TEXTFIELD
div.ui-input-text, .ui-input-search {
    border: 1px solid @input_border;
    .vertical-gradient-3-offset(@input_gradient_start, 0%, @input_gradient_mid, 98%, @input_gradient_end, 100%);
    border-radius: 5px;
        
    input.ui-input-text {
        height: 28px;
        color: @fontColor;
        text-shadow: none;
        padding:0;
        font-weight: 400;
    }
    &.invalid {
        border: 2px solid #B00900;
    }
    &.ui-focus {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
    &.ui-icon-searchfield .ui-input-text {
        height: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

input.ui-input-text, textarea.ui-input-text {
    line-height: inherit !important;
}
.ui-shadow-inset {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;  
}

.ui-focus, .ui-btn:focus { 
    box-shadow: inset 0px 0px 3px #387BBE, 0px 0px 9px #387BBE;
}

.ui-input-clear {
    background: transparent url(images/iconSprite.png) 0 0 no-repeat;
    width: 19px;
    height: 19px;
    border: none;
    margin-top: -9px !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    
    * {
        display: none;
    }
}

// placeholder text in inputfields
::-webkit-input-placeholder {
    color: @input_placeholder;
    font-weight: 400;
    text-shadow: none;
}

:-moz-placeholder {
    color: @input_placeholder;
    font-weight: 400;
    text-shadow: none;
}

::-moz-placeholder {
    color: @input_placeholder;
    font-weight: 400;
    text-shadow: none;
}

:-ms-input-placeholder {
    color: @input_placeholder;
    font-weight: 400;
    text-shadow: none;
}


// Sliderswitch
div.ui-slider-switch {
    border-color: #9b9b9b;
    height: 32px;
    
    span {
        .ui-slider-label-a {
            color: #FFF;
            background: #007fea none;
            -webkit-box-shadow: 10px 15px 0 rgba(0,0,0,0.1) inset, 0 2px 6px rgba(0,0,0,0.6) inset;
            -moz-box-shadow: 10px 15px 0 rgba(0,0,0,0.1) inset, 0 2px 6px rgba(0,0,0,0.6) inset;
            box-shadow: 10px 15px 0 rgba(0,0,0,0.1) inset, 0 2px 6px rgba(0,0,0,0.6) inset;
        }
        .ui-slider-label-b {
            color: #7f7f7f;
            background: #f9f9f9 none;
            -webkit-box-shadow: -10px 15px 0 rgba(0,0,0,0.07) inset, 0 2px 6px rgba(0,0,0,0.5) inset;
            -moz-box-shadow: -10px 15px 0 rgba(0,0,0,0.07) inset, 0 2px 6px rgba(0,0,0,0.5) inset;
            box-shadow: -10px 15px 0 rgba(0,0,0,0.07) inset, 0 2px 6px rgba(0,0,0,0.5) inset;
        }
    }
    
    a.ui-slider-handle {
        width: 31px;
        height: 31px;
        margin-top: -1px;
        margin-left: -16px;
        border-color: #717171;
        background: #d0d0d0; /* Old browsers */
        background: -moz-linear-gradient(top,  #d0d0d0 0%, #fcfcfc 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0d0d0), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #d0d0d0 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #d0d0d0 0%,#fcfcfc 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #d0d0d0 0%,#fcfcfc 100%); /* IE10+ */
        background: linear-gradient(top,  #d0d0d0 0%,#fcfcfc 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
        -webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset, 0 0 2px rgba(0,0,0,0.25) !important;
        -moz-box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset, 0 0 2px rgba(0,0,0,0.25) !important;
        box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset, 0 0 2px rgba(0,0,0,0.25) !important;
        &.ui-focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
}


// UI POPUPS 
.ui-popup {
    background: #242423;
    color: #FFF;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #181818;
    
    p {
        color: #FFF;
        text-shadow: none;
    }
    
    &.ui-body-a {
        img {
            margin: 30px auto 20px auto;
            display: block;
        }
        p {
            text-align: center;
            font-size: 1.1em;
            font-weight: bold;
        }
    }
    
    &>.ui-header {
        &.ui-bar-b {
        
            margin-top: 0px;
            border-width: 1px;
        }
        
        &:before {
            display: none;
        }
    }
}

.ui-selectmenu.ui-popup {
    .vertical-gradient(#000,#262625);
    
    .ui-selectmenu-list {
        background: transparent;
    }
    
    .ui-title, .ui-header {
        display: none;
    }
    
    .ui-btn {
        border-radius: 0px;
        border-bottom-color: #000;
        border-bottom-width: 1px;
        border-top-color: #262626;
        border-top-width: 1px;
        border-style: solid;
        border-top-style: solid;
        font-weight: 400;
        
        &.ui-btn-down-b{
            background: @color_green;
        }
        
        &.ui-btn-active{
            background: @color_green_bright;
            border: 1px solid @color_green;
            
            &:active{
                background: @color_green;
            }
        }
    }
}


// checkbox
.ui-checkbox {
    .ui-btn {
      border-radius:5px;
    }
    .ui-icon-checkbox-on {
        background-position: 0 0;
        background-image: url("../../img/icons/tick_34x35.png");
        background-size: 18px 18px;
      
        &.ui-icon {
            background-color: rgba(0,0,0,0.8);
        }
    }
    
    .ui-checkbox-off .ui-icon {
        background-color: rgba(0,0,0,0.8);
        background-image:none;
    }
}








// RADIO OPTION
.ui-controlgroup-horizontal .ui-radio {
    .ui-btn {
        background: #fcfcfc; /* Old browsers */
        background: -moz-linear-gradient(top,  #fcfcfc 0%, #c9c9c9 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#c9c9c9)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #fcfcfc 0%,#c9c9c9 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #fcfcfc 0%,#c9c9c9 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #fcfcfc 0%,#c9c9c9 100%); /* IE10+ */
        background: linear-gradient(top,  #fcfcfc 0%,#c9c9c9 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */
   }
   .ui-btn-active {
        background: #376fd4; /* Old browsers */
        background: -moz-linear-gradient(top,  #376fd4 0%, #417fe7 49%, #4c88e9 50%, #73a8fb 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#376fd4), color-stop(49%,#417fe7), color-stop(50%,#4c88e9), color-stop(100%,#73a8fb)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #376fd4 0%,#417fe7 49%,#4c88e9 50%,#73a8fb 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #376fd4 0%,#417fe7 49%,#4c88e9 50%,#73a8fb 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #376fd4 0%,#417fe7 49%,#4c88e9 50%,#73a8fb 100%); /* IE10+ */
        background: linear-gradient(top,  #376fd4 0%,#417fe7 49%,#4c88e9 50%,#73a8fb 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#376fd4', endColorstr='#73a8fb',GradientType=0 ); /* IE6-9 */
        -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5) inset;
        -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5) inset;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5) inset;
        
        .ui-btn-text {
            color: #FFF;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        }
    }
    
    label {
        border-width: 0 0 0 1px;
        border-color: #adaead;
    }
    .ui-btn-text {
        color: #7f7f7f;
        text-shadow: 0 1px 0 #FFF;
    }
    .ui-btn-inner {
        padding: .6em 1.2em !important;
    }
}


.textWithButton {
    position:relative;
    width:100%;
    .textBlock {
        margin-right:@logout_button_width + 5; // add some spacing
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .buttonBlock {
        position:absolute;
        top:0px;
        right:0px;
        
        .ui-btn {
            width:@logout_button_width;
            margin:0;
            
            .ui-btn-inner {
                padding-left:10px;
                padding-left:10px;
            }
        }
    }
}


.editWithButton{

  max-width:500px;

  .ui-button-block{
    float: right;
    position: relative;
    height: 0px;
    top: -53px;
  }

  div.ui-slider.ui-slider-switch{
    float:right;
    top: -41px;
  }
  
}


fieldset p.label {
  font-weight: bold;
  margin-left: 10px;
}

div.ui-slider.ui-slider-switch{

  border-color: #7A7A7A;
  background: #808080;

  &.ui-btn-corner-all{
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    width:60px;  
    margin:0;
  }
  
  &.ui-focus, ui-btn:focus
  {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .ui-slider-inneroffset{
    width: 33px;
  }

  span.ui-slider-label{

    text-shadow:none;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    &.ui-slider-label-a{
      
      color: #5F7F00;
      
      background: rgb(90,112,29);
      background: -moz-linear-gradient(top, rgba(90,112,29,1) 0%, rgba(148,190,28,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,112,29,1)), color-stop(100%,rgba(148,190,28,1)));
      background: -webkit-linear-gradient(top, rgba(90,112,29,1) 0%,rgba(148,190,28,1) 100%);
      background: linear-gradient(to bottom, rgba(90,112,29,1) 0%,rgba(148,190,28,1) 100%);
    }
    
    &.ui-slider-label-b{
    
      color: #535353;
      
      background: rgb(81,81,81);
      background: -moz-linear-gradient(top,  rgba(81,81,81,1) 0%, rgba(128,128,128,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,81,81,1)), color-stop(100%,rgba(128,128,128,1)));
      background: -webkit-linear-gradient(top,  rgba(81,81,81,1) 0%,rgba(128,128,128,1) 100%);
      background: linear-gradient(to bottom,  rgba(81,81,81,1) 0%,rgba(128,128,128,1) 100%);
    }
  } 
  
  a.ui-slider-handle {
  
    width: 25px;
    height: 31px;
  
    margin-top: 1px;
    margin-left: -15px;
    
    background: rgb(127,127,127);
    background: -moz-linear-gradient(top,  rgba(127,127,127,1) 0%, rgba(158,158,158,1) 8%, rgba(214,214,214,1) 20%, rgba(172,172,172,1) 80%, rgba(64,64,64,0.3) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,127,127,1)), color-stop(8%,rgba(158,158,158,1)), color-stop(20%,rgba(214,214,214,1)), color-stop(80%,rgba(172,172,172,1)), color-stop(100%,rgba(64,64,64,0.3)));
    background: -webkit-linear-gradient(top,  rgba(127,127,127,1) 0%,rgba(158,158,158,1) 8%,rgba(214,214,214,1) 20%,rgba(172,172,172,1) 80%,rgba(64,64,64,0.3) 100%);
    background: linear-gradient(to bottom,  rgba(127,127,127,1) 0%,rgba(158,158,158,1) 8%,rgba(214,214,214,1) 20%,rgba(172,172,172,1) 80%,rgba(64,64,64,0.3) 100%);
   
    border: 0;
    
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
   
    .ui-btn-inner{

      border-radius: 5px;
      width: 23px;
      height: 28px;
      display: block;
      left: 1px;
      top: 1px;

      background: rgb(253,253,253);
      background: -moz-linear-gradient(top,  rgba(253,253,253,1) 0%, rgba(192,192,192,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(192,192,192,1)));
      background: -webkit-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(192,192,192,1) 100%);
      background: linear-gradient(to bottom,  rgba(253,253,253,1) 0%,rgba(192,192,192,1) 100%);    

    }
  }
}


// header button left and right
.ui-popup-container {
    .ui-bar-buttons.buttons_1 {
        /*
        .ui-btn.first-button {
            .border-radius-right(5px);
            &:before {
              .border-radius-right(5px);
            }
        }
        */
        .ui-btn.second-button {
            display: none;
        }
        .ui-btn.third-button {
            display: none;
        }
    }
  
    .ui-bar-buttons.buttons_2 {
        /*
        .ui-btn.second-button {
            .border-radius-right(5px);
            &:before {
              .border-radius-right(5px);
            }
        }
        */
        .ui-btn.third-button {
            display: none;
        }
    }
}

.ui-popup-screen.in {
  /*opacity: 0.7;
  filter: Alpha(Opacity=70);
  */
  background-color: #666;
  background-image:none;
}

.ui-popup-container.ui-popup-active{
  min-width: 285px;
  max-width: 500px;

  .dialog.ui-popup {
    border: 0 none;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.4);
  }
  
  h1.ui-title{
    font-size:20px;
  }
  
  .ui-content h2
  {
    padding: 0;
    margin: 10px 0 0 0;
    line-height: 8px;
    font-size: 16px;
  }
}

fieldset.aboutInfo {
  width:250px;
  margin:auto;
  text-align: center;
  
  .appIcon {
    background-image:url(../../img/icons/app_icon_512x512.png);
    background-repeat:no-repeat;
    background-size:contain;
    min-width:250px;
    min-height:250px;
    margin:auto;
  }
}
