/*
 * listview.less
 */

.ui-listview {
    background-color:@listview_bg_color;
    border-radius: @listview_border_radius;
    
    .ui-btn {
        border:0px none;
        border-radius: 0px;
        background: transparent;
        border-top:1px solid @listview_separator_color;
        .box-shadow-none()!important;
        &:first-child {
          border-top:0px none;
          .border-radius-top(inherit)!important;
        }
        &:last-child {
          .border-radius-bottom(inherit)!important;
        }
        
        .ui-btn-inner {
            line-height:normal;
            padding:0;
        }
        
        .ui-btn-text {
            .ui-link-inherit {
                padding-top:@listview_space_top;
                padding-bottom:@listview_space_bottom;
            }
            h3 {
                color:@listview_text_color;
                font-weight:normal;
                .font_big;
                margin:0;
                line-height:@listview_item_line_height;
            }
            .ui-li-desc {
                color:@listview_description_color;
                .font_normal;
                margin:0;
                line-height:@listview_description_line_height;
            }
        }
        
        &:before {
            display:none;
        }
        
        &.ui-first-child {
            .border-radius-top(initial);
        }
        &.ui-last-child {
            .border-radius-bottom(initial);
        }
        
        &.ui-btn-down-a, &.ui-selected {
            background: @listview_bg_down_color;
            
            .ui-btn-text {
              
                .ui-li-desc {
                    color:@listview_description_selected_color;
                }
            }
        }
    }
     
    .ui-icon-weblink {
        .box-shadow-none();
        background: transparent url(../../img/icons/weblink_48x48.png) center center no-repeat !important;
        background-size:@listview_weblink_icon_width @listview_weblink_icon_height!important;
        width:@listview_weblink_icon_width;
        height:@listview_icon_height;
        margin-top:-@listview_weblink_icon_height/2!important;
        right:15px;
    }
    
    .ui-icon-arrow-r {
        .box-shadow-none();
        background: transparent url(../../img/icons/arrow_right_40x60.png) center center no-repeat !important;
        background-size:@listview_icon_width @listview_icon_height!important;
        width:@listview_icon_width;
        height:@listview_icon_height;
        margin-top:-@listview_icon_height/2!important;
        right:15px;
    }
    
    &.single {
        .ui-btn {
            .ui-btn-text {
              
                .ui-link-inherit {
                    padding-top:0;
                    padding-bottom:0;
                }
                h3 {
                    .font_input
                }
            }
        }
    }
    
    &.with-image .ui-btn {
        overflow:hidden;
        
        .ui-btn-inner {
            padding-left: @radiogroup_item_space_left;
            
            .ui-btn-text {
                
                .ui-link-inherit {
                    padding-top:0;
                    padding-bottom:0;
                }
                h3 {
                    line-height:@radiogroup_item_line_height;
                    color:@listview_text_color;
                    font-weight:normal;
                    .font_big;
                    padding-top:0;
                    padding-bottom:0;
                }
            }
        }
        
        .ui-btn-inner:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: @radiogroup_icon_width;
            height: @radiogroup_icon_height;
            display: block;
            background-size:@radiogroup_icon_size;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-image: url(../../img/icons/country_80x880.png);
        }
        &[data-country='DE'] .ui-btn-inner:before {
            background-position-y:0;
        }
        &[data-country='IT'] .ui-btn-inner:before {
            background-position-y:-@radiogroup_icon_height*1;
        }
        &[data-country='FR'] .ui-btn-inner:before {
            background-position-y:-@radiogroup_icon_height*2;
        }
        &[data-country='ES'] .ui-btn-inner:before {
            background-position-y:-@radiogroup_icon_height*3;
        }
        &[data-country='AT'] .ui-btn-inner:before {
            background-position-y:-@radiogroup_icon_height*4;
        }
        &[data-country='CH'] .ui-btn-inner:before {
            background-position-y:-@radiogroup_icon_height*5;
        }
        &[data-country='CZ'] .ui-btn-inner:before {
            background-position-y:-@radiogroup_icon_height*6;
        }
        &[data-country='CN'] .ui-btn-inner:before {
            background-position-y:-@radiogroup_icon_height*7;
        }
        &[data-country='JP'] .ui-btn-inner:before {
            background-position-y:-@radiogroup_icon_height*8;
        }
        &[data-country='GB'] .ui-btn-inner:before {
            background-position-y:-@radiogroup_icon_height*9;
        }
        &[data-country='0'] .ui-btn-inner:before {
            background-position-y:-@radiogroup_icon_height*10;
        }
    }
    
}
// radio group
.radioGroup {
    .ui-controlgroup-controls {
        border-radius:@listview_border_radius;
        overflow:hidden;
    }
    
    .ui-radio {
        background-color:@listview_bg_color;
        border-radius:0;
        
        input {
            visibility:hidden;
        }
        
        .ui-btn {
            border:0px none;
            border-radius: 0px;
            background: transparent;
            border-top:1px solid @listview_separator_color;
            .box-shadow-none()!important;
            /*
            &:first-child {
              border-top:0px none;
              .border-radius-top(inherit)!important;
            }
            &:last-child {
              .border-radius-bottom(inherit)!important;
            }
            */
            .ui-btn-inner {
                line-height:normal;
                padding-left: @content_space;
                padding-right: @radiogroup_item_space_right;
            
                .ui-icon {
                    background-color: transparent;
                    background-position: 0 0;
                    background-image: url("../../img/icons/radiobutton_88x44.png");
                    background-size:@radiogroup_check_icon_size;
                    width:@radiogroup_check_icon_width;
                    height:@radiogroup_check_icon_height;
                    .box-shadow-none;
                    margin-top:-@radiogroup_check_icon_height/2;
                    left:auto;
                    right:@radiogroup_check_icon_space_right;
                    
                    &.ui-icon-radio-on {
                        background-position-x:-@radiogroup_check_icon_width;
                    }
                }
                
                .ui-btn-text {
                    color:@listview_text_color;
                    font-weight:normal;
                    .font_big;
                    margin:0;
                    line-height:@radiogroup_item_line_height;
                }
            }
            &:before {
                display:none;
            }
            
            &.ui-first-child {
                .border-radius-top(initial);
            }
            &.ui-last-child {
                .border-radius-bottom(initial);
            }
            /*
            &.ui-btn-down-a, &.ui-selected {
                background: @listview_bg_down_color;
                
                .ui-btn-text {
                    .ui-li-desc {
                        color:@listview_description_selected_color;
                    }
                }
            }
            */
            &.ui-radio-on {
                background: @listview_bg_down_color!important;
                
                .ui-btn-text {
                    .ui-li-desc {
                        color:@listview_description_selected_color;
                    }
                }
            }
        
            &.with-image {
                .ui-btn-inner {
                    padding-left: @radiogroup_item_space_left;
                }
                
                .ui-btn-inner:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: @radiogroup_icon_width;
                    height: @radiogroup_icon_height;
                    display: block;
                    background-size:@radiogroup_icon_size;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    background-image: url(../../img/icons/country_80x880.png);
                }
                &[data-country='DE'] .ui-btn-inner:before {
                    background-position-y:0;
                }
                &[data-country='IT'] .ui-btn-inner:before {
                    background-position-y:-@radiogroup_icon_height*1;
                }
                &[data-country='FR'] .ui-btn-inner:before {
                    background-position-y:-@radiogroup_icon_height*2;
                }
                &[data-country='ES'] .ui-btn-inner:before {
                    background-position-y:-@radiogroup_icon_height*3;
                }
                &[data-country='AT'] .ui-btn-inner:before {
                    background-position-y:-@radiogroup_icon_height*4;
                }
                &[data-country='CH'] .ui-btn-inner:before {
                    background-position-y:-@radiogroup_icon_height*5;
                }
                &[data-country='CZ'] .ui-btn-inner:before {
                    background-position-y:-@radiogroup_icon_height*6;
                }
                &[data-country='CN'] .ui-btn-inner:before {
                    background-position-y:-@radiogroup_icon_height*7;
                }
                &[data-country='JP'] .ui-btn-inner:before {
                    background-position-y:-@radiogroup_icon_height*8;
                }
                &[data-country='GB'] .ui-btn-inner:before {
                    background-position-y:-@radiogroup_icon_height*9;
                }
                &[data-country='0'] .ui-btn-inner:before {
                    background-position-y:-@radiogroup_icon_height*10;
                }
            }
        }
    }
}

#startlist {
  position:absolute;
  top:@headerbar_height;
  left:@content_list_space;
  right:@content_list_space;
  bottom:0;
  
  ul {
    position:absolute;
    top: 33%;
    margin-top: -(@listview_item_line_height + @listview_description_line_height + @listview_space_top + @listview_space_bottom);
    width:100%;    
  }
  
}
