/*
 * common.less
 */

// Substitute page and viewport background with gradient

.ui-page, .ui-mobile-viewport, .dialog.ui-mobile-viewport {
    background:@color_page_background; 
}
.ui-page.logo {
    background-image: url(../../img/company_logo_256x128.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size:@page_logo_size
}

label {
    color: @color_text_light_grey;
    font-weight: 100;
    font-size: 18pt;
    text-shadow: none;
    padding: 0.5em;
    display: block;
}


/* === PAGE BACKGROUND AND GENERICS === */
.ui-content {
    color: #FFFFFF;
    text-shadow: 0px -1px 0px #000000;
    padding: @content_space;
    
    &.list-view {
      padding: @content_list_space
    }
    &.max-size {
        max-width:@page_content_max_width;
        margin:auto;
    }
}

.ui-page-header-fullscreen .ui-content, .ui-page-footer-fullscreen .ui-content{
    padding-top: 39px;/* fix for fixed toolbar mode */
}

.highlightedText{
  color: @color_green_text_highlight;
}

/* generic inline and corner */
.ui-inline{
    display: inline-block !important;
}
.ui-corner-left { 
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 2px; 
}
.ui-corner-right { 
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.ui-br {
    border-bottom-style: none;
}

// FOOTER BAR
.ui-footer {
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    border-color: #0d0d0d;
    border: none;
    text-align: right;
    .vertical-gradient(#4C4C4C,#101010);
  
    .ui-btn {
        border: 0 none;
        border-color: #375074;
    }
    .ui-select {
        text-align: right;
        display: inline-block;
    }
    /* fixes issue #25 */
    .ui-icon-shadow {
        .box-shadow-none();
    }
}

// NAVIGATION BAR
.ui-navbar {
    ul {
        overflow: hidden;
        padding-bottom: 1px;
    }
    li{
        &:first-child{
           .ui-btn{
               border-radius: 0;
               .border-radius-left(@size: 5px);
           }
        }
        
        &:last-child{
           .ui-btn{
               border-radius: 0;   
               .border-radius-right(@size: 5px);
           }
        }
    }
}

/* === RETINA DEVICE FIXES === */
@media (-webkit-min-device-pixel-ratio : 1.5), (min-device-pixel-ratio : 1.5) {
    .ui-input-clear {
        background-position: right 0;
        background-size: 100px 250px;
    }
}


#countryWrapper {
    position:absolute;
    z-index:1;
    top:@headerbar_height + @form_line_height +  @content_space + @content_list_space;
    bottom:@content_list_space;
    left:@content_list_space;
    right:@content_list_space;
    overflow:auto;
    
    #countryScroller {
        position:absolute; z-index:1;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        width:100%;
        padding:0;
        
        .ui-controlgroup {
            margin:0;
        }
    }
}

#legalWrapper {
    position:absolute;
    z-index:1;
    top:@headerbar_height + @form_line_height*2 +  @content_space;
    bottom:@radiogroup_item_line_height*2 + @button_border*2 + @content_list_space;
    left:@content_space;
    right:@content_space;
    overflow:auto;
    
    #legalScroller {
        position:absolute; z-index:1;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        width:100%;
        padding:0;
        
        .ui-controlgroup {
            margin:0;
        } 
    }
}

.fixed-bottom {
    position:absolute;
    bottom:@content_list_space;
    left:@content_list_space;
    right:@content_list_space;
    height:@radiogroup_item_line_height*2 + @button_border*2;
    
    &:after {
        content: "";
        position: absolute;
        left:0;
        right:0;
        height:@headerbar_border_shadow;
        bottom:@radiogroup_item_line_height*2 + @button_border*2;
        .vertical-gradient(@page_gradient_end, @page_gradient_start);
        z-index:5
    }
    
    .ui-controlgroup {
        margin:0;
    } 
}
