/*
 * common.less
 */

// Substitute page and viewport background with gradient

.ui-page, .ui-mobile-viewport, .dialog.ui-mobile-viewport {
    background:@color_page_background; 
}
.ui-page.logo {
    background-image: url(../../img/company_logo_256x128.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size:@page_logo_size
}

h2 {
    font-size: 24px;
    font-weight: 100;
    color: @color_text_light_grey;
}
 
label {
    color: @color_text_light_grey;
    font-weight: 100;
    font-size: 18pt;
    text-shadow: none;
    padding: 0.5em;
    display: block;
}


/* === PAGE BACKGROUND AND GENERICS === */
.ui-content {
    color: #FFFFFF;
    text-shadow: 0px -1px 0px #000000;
    padding: @content_space;
}

.ui-page-header-fullscreen .ui-content, .ui-page-footer-fullscreen .ui-content{
    padding-top: 39px;/* fix for fixed toolbar mode */
}

/* === SLIDER STYLES === */
div.ui-slider {
    height: 9px;
    border: 1px solid #929292;
    .vertical-gradient-3(#bababa, #f8f8f8, #f8f8f8);
}
a.ui-slider-handle {
    width: 20px;
    height: 20px;
    border: 1px solid #bbbbbb;
    margin-top: -12px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.75), 0 2px 0 rgba(255,255,255,0.75) inset;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.75), 0 2px 0 rgba(255,255,255,0.75) inset;
    box-shadow: 0 1px 3px rgba(0,0,0,0.75), 0 2px 0 rgba(255,255,255,0.75) inset;
    .vertical-gradient-offset(#fafafa, 100%, #d4d4d4, 0%);
}
input.ui-slider-input {
    display: none !important;
}

/* generic inline and corner */
.ui-inline{
    display: inline-block !important;
}
.ui-corner-left { 
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 2px; 
}
.ui-corner-right { 
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.ui-br {
    border-bottom-style: none;
}

// FOOTER BAR
.ui-footer {
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    border-color: #0d0d0d;
    border: none;
    text-align: right;
    .vertical-gradient(#4C4C4C,#101010);
  
    .ui-btn {
        border: 0 none;
        border-color: #375074;
    }
    .ui-select {
        text-align: right;
        display: inline-block;
    }
    /* fixes issue #25 */
    .ui-icon-shadow {
        .box-shadow-none();
    }
}


// NAVIGATION BAR
.ui-navbar {
    ul {
        overflow: hidden;
        padding-bottom: 1px;
    }
    li{
        &:first-child{
           .ui-btn{
               border-radius: 0;
               .border-radius-left(@size: 5px);
           }
        }
        
        &:last-child{
           .ui-btn{
               border-radius: 0;   
               .border-radius-right(@size: 5px);
           }
        }
    }
}

/* === RETINA DEVICE FIXES === */
@media (-webkit-min-device-pixel-ratio : 1.5), (min-device-pixel-ratio : 1.5) {
    .ui-input-clear {
        background-position: right 0;
        background-size: 100px 250px;
    }
}

