/*
 * daypicker.less
 */

.dayPicker {
    padding-left: 0px;
    white-space:nowrap;
    
    li {
        display: inline-block;
        max-width: @daypicker_day_min_width*2;
        min-width: @daypicker_day_min_width;
        text-align: center;
        position: relative;
        
        
        .label {
            color:@daypicker_day_color;
            .font_normal;
            padding-bottom:2px;
        }
        
        .icon {
            background-image:url('../../img/icons/checkbox_126x42.png');
            background-repeat:no-repeat;
            background-size:@daypicker_icon_size;
            background-position-x:0px;
            width:@daypicker_icon_width;
            height:@daypicker_icon_height;
            margin:auto;
        }
        
        &.disabled {
            .label {
                color:@daypicker_day_disabled_color;
            }
            
            .icon {
                background-position-x:-2*@daypicker_icon_width;
            }
        }
        &.checked {
            .label {
              color: @daypicker_day_selected_color;
            }
            
            .icon {
                background-position-x:-@daypicker_icon_width;
            }
        }
    }
}

.control-button-bar-daypicker{
    .ui-btn {
        .border-radius(@cleaning_control_button_size/2);
        width: @cleaning_control_button_size - @button_border*2;
        height:@cleaning_control_button_size - @button_border*2;
     
        &.ui-btn-left {
            margin:0 0 @cleaning_control_button_space @cleaning_control_button_space;
        }
        
        .ui-btn-inner {
            .border-radius(0);
            line-height:@cleaning_control_button_size - @button_border*2;
            padding:0px;
        }
                      
        &:before {
            .border-radius(@cleaning_control_button_size/2);
        }
        
        &.btn-with-image {
            .ui-btn-inner {
                background-size: @cleaning_control_button_icon_size;
                background-image: url(../../img/icons/support_icons_330x330.png);
                background-position:0 0;
                top:0;
                height:@cleaning_control_button_size;
                width:@cleaning_control_button_size;
            }
            
            &[data-image='eco'] .ui-btn-inner {
                background-position-y:0;
                background-position-x:-@cleaning_control_button_size;
            }
            
            &.ui-btn-active {
                &[data-image='eco'] .ui-btn-inner {
                    background-position-x:0;
                }
            }
             
            &.ui-disabled { 
                &[data-image='eco'] {
                     background:none;
                     .box-shadow-none()!important;
                      border-color: transparent;
               }
           }
        }     
    }
}