/*
 * dialog.less
 */

.ui-popup-container {
    -webkit-transform:translateZ(0);
    .ui-header .ui-title {
        margin-right:3%;
        margin-left:3%;
    }
}

.ui-popup-container.ui-popup-active{
  min-width: 285px;
  max-width: 500px;

  .dialog.ui-popup {
    border: 0 none;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.4);
  }
  
  .ui-content h2
  {
    padding: 0;
    margin: 10px 0 0 0;
    line-height: 8px;
    font-size: 16px;
  }
}

.dialog {
    .ui-header {
        border-left:0px none;
        border-right:0px none;
        
        h1 {
            text-shadow: 0 -1px 0 black!important;
            .font_big;
            .font_reg;
            color:@dialog_headline_color;
        }
    }
}



#menuPopup-popup.ui-popup-container.ui-popup-active {

  box-shadow: 0 0 8px 2px rgba(0,0,0,0.4);
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  left: 15px!important;
  right: 15px!important;
  max-width: 280px!important;
  max-height: 160px!important;
  min-width: 170px!important;
  margin: auto;
  
  #menuPopup {

    border: 1px solid #535353;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px #2E2E2E inset;

    background: #393838;
    background: -moz-linear-gradient(top,  #393838 0%, #111111 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#393838), color-stop(100%,#111111));
    background: -webkit-linear-gradient(top,  #393838 0%,#111111 100%);
    background: linear-gradient(to bottom,  #393838 0%,#111111 100%);
    
    padding: 0 10px;

    .menuPopupTitle{
      margin: 10px 0 5px;
      font-size: 16pt;
      font-weight: normal;
    }
    
    a {
      display: block;
      float: left;
      width: 85px;
      height: 95px;
      margin: 10px 1.5px 10px 0;
      
      background-image: url('../../img/categoryimg_303x303.png'),url('../../img/menu_active_bg.png');
      background-size: 202px 404px,85px 95px;
      background-repeat: no-repeat,no-repeat;
      
      text-decoration: none;

      &.settings{
        background-position: -12px -215px, -500px -500px;
        margin: 10px 0 10px 0;
        &.active{
          background-position: -12px -215px, 0 0;
        }
      }
      
      &.schedule{
        background-position: -2px -315px, -500px -500px;
        &.active{
          background-position: -2px -315px, 0 0;
        }
      }
      
      &.cleaning{
        background-position: 2px -17px, -500px -500px;
        &.active{
          background-position: 2px  -17px, 0 0;
        }
      }
        
      h3 {
        position: relative;
        top: 52px;
        text-align: center;
        color: white;
        text-shadow: none;
        font-weight: normal;
        font-size: 16px;
      }
    }

    .menuPopupTitleLine{
        height: 3px;
        background: #009a3d;
        background: -moz-linear-gradient(top,  #009a3d 0%, #00bf4c 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009a3d), color-stop(100%,#00bf4c));
        background: -webkit-linear-gradient(top,  #009a3d 0%,#00bf4c 100%);
        background: linear-gradient(to bottom,  #009a3d 0%,#00bf4c 100%);
    }
    
  }
}


// Dialog types:
// INFO : "0"
// WARNING : "1"
// ERROR : "2"
#dialogPopup {
    display:none;
    border:@dialog_border solid @dialog_border_color;
  
    .ui-header {
        border-left:0px none;
        border-right:0px none;
        
        h1 {
            text-shadow: 0 -1px 0 black!important;
            .font_big;
            color:@dialog_headline_color;
            
            &:before{
                content: "";
                background-image: url(../../img/icons/dialog_icons_32x96.png);
                background-repeat: no-repeat;
                background-size: @dialog_icon_size;
                width:@dialog_icon_width;
                position: relative;
                height:@dialog_icon_height;
                display: inline-block;
                top: 1px;
                right: 5px;
            }
        }
    }
    
    .popupHeaderLine {
        height:@headerbar_border_top;
        position: relative;
        z-index: 10000;
        top:@dialog_border;
        left:@dialog_border;
        right:@dialog_border;
    }
    
    .dialogPopupContent {
        min-height: 80px;
    }
    
    &.dialogType_1 {
        display:block;
        
        .popupHeaderLine {
            background-color:@dialog_info_color;
            position: fixed;
        }
        
        .ui-header h1:before { 
            background-position-y:0;
        }
    }
    
    &.dialogType_2 {
        display:block;
        
        .popupHeaderLine{
            background-color:@dialog_warning_color;
            position: fixed;
        }
        
        .ui-header h1:before { 
            background-position-y:-@dialog_icon_height;
        }
    } 
    
    &.dialogType_3 {
        display:block;
        
        .popupHeaderLine{
            background-color:@dialog_error_color;
            position: fixed;
        }
        .ui-header h1:before { 
            background-position-y:-2*@dialog_icon_height;
        }
    }
    
    .ui-bar-buttons {
        margin:0;
        
        &.buttons_1 {
            .ui-btn.second-button {
                display: none;
            }
            .ui-btn.third-button {
                display: none;
            }
        }
      
        &.buttons_2 {
            .ui-btn.third-button {
                display: none;
            }
        }
    }
}
