.scheduler {
    position: absolute;
    top: @headerbar_height + @content_space;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: @color_page_background;
    
    .schedulerLeftCorner {
      position:absolute;
      top:0;
      left:0;
      width:@scheduler_time_column_width;
      height:@scheduler_day_row_height;
      -webkit-transform:translateZ(0);
      .both-gradient-3-offset(@color_page_background, 0%, @page_gradient_start, 50%, @page_gradient_end, 100%,
                              @color_page_background, 0%, @page_gradient_start, 66%, @page_gradient_end, 100%);
      z-index:1001;
    }

    .dayRow {
        -webkit-transform:translateZ(0);
        white-space:nowrap;
        min-width: 7*@scheduler_day_min_column_width + @scheduler_time_column_width;
        box-sizing: border-box; 
        z-index: 1000;
        position: relative;
        height:@scheduler_day_row_height;
        .vertical-gradient-3-offset(@color_page_background, 0%, @page_gradient_start, 50%, @page_gradient_end, 100%);
        
        padding-left: @scheduler_time_column_width;
            
        .dayLabel {
            display : inline-block;
            width: floor(100%/ 7);
            min-width: @scheduler_day_min_column_width;
            text-overflow: ellipsis;
            text-align: center;
            height: @scheduler_day_row_height;
            .font_normal;
            
            &.hasEvent {
                color:@scheduler_day_blocked;
                background-image: url('../../img/icons/schedule_day_blocked_14x14.png');
                background-size:@scheduler_day_blocked_icon_size;
                background-position:bottom center;
                background-repeat:no-repeat;
            }
        }
    }
  
    .timeColumn {
        position: absolute;
        width: @scheduler_time_column_width; 
        z-index: 1000;
        -webkit-transform:translateZ(0);
        margin-top:@scheduler_day_row_height;
        .horizontal-gradient-3-offset(@color_page_background, 0%, @page_gradient_start, 66%, @page_gradient_end, 100%);
        
        .time {
            height: @scheduler_hour_height;
            text-align: right;
            padding-right:5px;
            .font_small;
            
            &:first-child {
               padding-top: @scheduler_event_height/2 - @fontsize_small/2 - @scheduler_grid_line_height; 
            }
            &:last-child {
                padding-bottom:@scheduler_hour_height/2;
            }
            
            .marker {
                color:@scheduler_marker_color;
            }
        }
    }
    
    #scrollWrapper {
      overflow: hidden;
      position: absolute;
      bottom: 0px;
      right: 0px;
      top: 0px;
      left: 0px;
    }
  
    .schedulerContent {
        height: 2000px;
        min-width: 7*@scheduler_day_min_column_width + @scheduler_time_column_width; 
        border-left:@scheduler_time_column_width solid @color_page_background;
        border-top:@scheduler_day_row_height solid @color_page_background;
        box-sizing: border-box; 
        background-image: url('../../img/bg_scheduler_6x96.png'), url('../../img/bg_scheduler_noon_6x4.png');
        background-position-y: @scheduler_event_height/2 - @scheduler_grid_line_height/2, 12*@hourHeight - @scheduler_noon_line_height/2 + @scheduler_event_height/2 - @scheduler_grid_line_height/2;
        background-size:@scheduler_grid_size, @scheduler_noon_line_size;
        background-repeat:repeat, repeat-x;
        
      
        .day {
            display : inline-block;
            width: floor(100%/ 7);
            min-width: @scheduler_day_min_column_width;
            height: 24*@scheduler_hour_height + @scheduler_hour_height*(3/4); 
            position: relative;
            margin-top: -(@scheduler_hour_height - @scheduler_event_height)/2; // remove space from icon to task area
            
            &:nth-child(odd) { 
                background-color:@scheduler_time_column_odd;
            }
            
            &.dragging {
                background-color:rgba(255,255,255,0.1);
            }
            .event {
                height : @scheduler_hour_height;
                z-index: 100;
                width: 100%;
                position: absolute;
                
                &.basicTask .basicTaskInner {
                    position: absolute;
                    top: @scheduler_event_space;
                    left: @scheduler_event_space;
                    bottom: @scheduler_event_space;
                    right: @scheduler_event_space;
                    height:@scheduler_event_height;
                    text-align:center;
                    margin:auto;
                    padding:0;
                    background-color:@scheduler_day_blocked;
                    border-radius:5px;
                    line-height:@scheduler_event_height;
                    .font_bold;
                    
                    
                    // zoom factor 1.5
                    &:active {
                        left:@scheduler_event_space - @scheduler_event_zoom/2;
                        right:@scheduler_event_space - @scheduler_event_zoom/2;
                        height:@scheduler_event_height + @scheduler_event_zoom;
                        line-height:@scheduler_event_height + @scheduler_event_zoom;
                        .font_big;
                    }
                }
                &.basicTask.state-local .basicTaskInner {
                    // eco
                    &.mode-1 {
                      background-position-y:-@scheduler_event_height*3;
                    }
                    // normal
                    &.mode-2 {
                      background-position-y:-@scheduler_event_height*2;
                    }
                }
                &.basicTask.selected .basicTaskInner {
                    background-position-x:-@taskIconWidth;
                    &:active {
                        background-position-x:-@taskIconWidth*1.5;
                    }
                }
                
                // advanced scheduler
                &.task .taskInner {
                    .vertical-gradient(#007330,@color_green);
                    .border-radius(5px);
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    bottom: 2px;
                    right: 2px;
                    text-align:center;
                    color:#fff;
                    padding-top:25px;
                    
                    &.state-server {
                        /*TODO edit design*/
                        border: 2px dotted @color_green_bright;
                    }
                    
                    &.state-local {
                        /*TODO edit design*/
                        border: 2px dotted #fff;
                    }
                    
                    &:active {
                        .vertical-gradient(@color_green,#007330);
                    }
                }
                
                &.task.selected .taskInner {
                    .vertical-gradient(@color_green_bright,#669900);
                    
                    &:active {
                        .vertical-gradient(#669900,@color_green_bright);
                    }
                }
                
                &.quiet .quietInner {
                    position: absolute;
                    .border-radius(5px);
                    top: 0px;
                    left: 0px;
                    bottom: 0px;
                    right: 1px;
                    background-image: url('../../img/quiet_bg.png');
                    background-color: #001926;
                    
                    &.state-server {
                        /*TODO edit design*/
                        border: 2px dotted @color_green_bright;
                    }
                    
                    &.state-local {
                        /*TODO edit design*/
                        border: 2px dotted #fff;
                    }
                }
                &.quiet.selected .quietInner {
                    background-color: #002f46;
                }
                
                .newEnty {
                  position: absolute;
                  width:50px;
                  height:50px;
                  top:0px;
                  bottom:0px;
                  left:0px;
                  right:0px;
                  margin:auto;
                  border-radius:25px;
                  border:1px solid #f0f;
                }
            }
        }
    }
}
