/**
 * timepicker.less
 */


// jQuery Mobile Theme modified
.jqm {
    .dwwl {
         .border-radius(5px);
         border: @button_border solid @button_border_color;
         .box-shadow(0px, (@button_inner_shadow+@button_inner_border), 0px, 0px, fade(#FFFFFF,10), inset)!important;
         .vertical-gradient(@button_bg_gradient_start,@button_bg_gradient_end);
         color: #ffffff;
         .font_big;
        
        &.dwa {
            .dw-li.dw-v {
                visibility:visible;
            }
        }
        .dwwb {
            color:transparent;
            text-decoration:none!important;
            
            &:after {
                content:"";
                background-image:url('../../img/icons/arrow_34x56.png');
                background-repeat:no-repeat;
                background-size:@timepicker_icon_image_width @timepicker_icon_image_height;
                height:@timepicker_icon_height;
                width:@timepicker_icon_width;
                vertical-align:middle;
                display:inline-block;
            }
            
            span {
                display:none!important;
            }
            
            // plus
            &.dwwbp:after {
                background-position-y:0px;
            } 
            
            //minus
            &.dwwbm:after {
                background-position-y:-@timepicker_icon_width;
            }
            // pressed state zoom factor 1.5
            &.dwb-a {
                &:after {
                    background-size:@timepicker_icon_image_width*1.5 @timepicker_icon_image_height*1.5;
                    height:@timepicker_icon_height*1.5;
                    width:@timepicker_icon_width*1.5;
                }
                
                &.dwwbm {
                    &:after {
                        background-position-y:-@timepicker_icon_width*1.5;
                    }
                }
            }
        }
    }
    .dw-li {
        &.dw-hl {
            background:none transparent;
        }
        
        &.dw-v {
            visibility:hidden;
            
            &.dw-sel {
                visibility:visible;
            }
        }
    }
    
    // jqm default styles
    .dwo {
        background: none;
    }
    
    .dw {
        padding: 6px;
        z-index: 1003;
    }
    
    .dwv {
        position: static;
        width: auto;
        padding: .7em 15px .7em 15px;
        border: 0;
    }
    
    .dw-hidden {
        padding: 0;
    }
    
    .dwwr {
        border: 0;
        padding: 0;
    }
    
    .dwpm {
        .dwwo {
            background: none;
        }
        
        .dwl {
            border: 0;
            background: none;
        }
    }
    
    .dwc {
        padding: 30px 5px 5px 5px;
    }
    
    .dwhl {
        padding: 5px;
    }
    .dwwb {
        margin: 0;
        border: 0;
        padding: 0;
        
        span {
            padding: 0;
        }
    }
    
    .dwwbp {
        .ui-btn-inner {
            font-size: 40px;
            border-radius: 3px 3px 0 0;
            -webkit-border-radius: 3px 3px 0 0;
            -moz-border-radius: 3px 3px 0 0;
        }
        span {
            font-weight: normal;
        }
    }
    
    .dwwbm { 
        .ui-btn-inner {
            font-size: 32px;
            border-radius: 0 0 3px 3px;
            -webkit-border-radius: 0 0 3px 3px;
            -moz-border-radius: 0 0 3px 3px;
        }
    }
    
    .dwbc {
        padding: 0;
        .ui-btn {
            margin: .5em 5px;
        }
        .ui-btn-inner {
            font-size: 12px;
        }
    }
    
    
}

/* Docked */
.jqm.dw-bottom .dw, .jqm.dw-top .dw {
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.jqm.dw-top .dw {
    border-right: 0;
    border-top: 0;
    border-left: 0;
}
.jqm.dw-bottom .dw {
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}
